
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= mm.IdentifierPlural }}"]; ok {
		if v2, ok2 := v.([]map[string]any); ok2 {
			o.{{= mm.Field }}.Clear()

			for _,v3 := range v2 {
				obj := new({{= mm.ObjectType() }})
				obj.unpack(v3, obj)
				o.{{= mm.Field }}.Set(obj.PrimaryKey(), obj)
			}
			o.{{= mm.PkField() }} = nil
		} else {
			panic("Wrong type found for {{= mm.Field }} object.")
		}
	} else {
		o.{{= mm.Field }}.Clear()
		o.{{= mm.PkField() }} = nil
	}

}}
