
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.Field }}"]; ok {
		if v == nil {
			o.{{= col.Field }} = {{= col.DefaultValueAsValue() }}
			o.{{= col.Field }}IsNull = true
			o.{{= col.Field }}IsLoaded = true
{{if col.HasSetter() }}
			o.{{= col.Field }}IsDirty = false
{{if}}
{{if col.IsEnum() }}
		} else if i, ok2 := v.(int); ok2 {
		    o.{{= col.Field }} = {{= col.Type }}(i)
{{else}}
		} else if o.{{= col.Field }}, ok = v.({{= col.Type }}); ok {
{{if}}
			o.{{= col.Field }}IsNull = false
			o.{{= col.Field }}IsLoaded = true
{{if col.HasSetter() }}
			o.{{= col.Field }}IsDirty = false
{{if}}
		} else {
			panic("Wrong type found for {{= col.Field }}.")
		}
	} else {
		o.{{= col.Field }}IsLoaded = false
		o.{{= col.Field }}IsNull = true
		o.{{= col.Field }} = {{= col.DefaultValueAsValue() }}
{{if col.HasSetter() }}
		o.{{= col.Field }}IsDirty = false
{{if}}
	}

}}
