
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.QueryName }}"]; ok {
		if v == nil {
			o.{{= col.VariableIdentifier() }} = {{= col.DefaultValueAsValue() }}
			o.{{= col.VariableIdentifier() }}IsNull = true
			o.{{= col.VariableIdentifier() }}IsLoaded = true
{{if col.HasSetter() }}
			o.{{= col.VariableIdentifier() }}IsDirty = false
{{if}}
{{if col.IsEnum() }}
		} else if i, ok2 := v.(int); ok2 {
		    o.{{= col.VariableIdentifier() }} = {{= col.GoType() }}(i)
{{else}}
		} else if o.{{= col.VariableIdentifier() }}, ok = v.({{= col.GoType() }}); ok {
{{if}}
			o.{{= col.VariableIdentifier() }}IsNull = false
			o.{{= col.VariableIdentifier() }}IsLoaded = true
{{if col.HasSetter() }}
			o.{{= col.VariableIdentifier() }}IsDirty = false
{{if}}
		} else {
			panic("Wrong type found for {{= col.QueryName }}.")
		}
	} else {
		o.{{= col.VariableIdentifier() }}IsLoaded = false
		o.{{= col.VariableIdentifier() }}IsNull = true
		o.{{= col.VariableIdentifier() }} = {{= col.DefaultValueAsValue() }}
{{if col.HasSetter() }}
		o.{{= col.VariableIdentifier() }}IsDirty = false
{{if}}
	}

}}
