
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.ReverseIdentifier() }}"]; ok {
		if v2, ok2 := v.(map[string]any); ok2 {
			o.{{= col.ReverseVariableIdentifier() }} = new({{= col.Table.Identifier }})
			o.{{= col.ReverseVariableIdentifier() }}.unpack(v2, o.{{= col.ReverseVariableIdentifier() }})
			o.{{= col.ReverseVariableIdentifier() }}IsDirty = false
		} else {
			panic("Wrong type found for {{= col.VariableIdentifier() }} object.")
		}
	} else {
		o.{{= col.ReverseVariableIdentifier() }} = nil
		o.{{= col.ReverseVariableIdentifier() }}IsDirty = false
	}

}}
