
{{g
//*** {{includeName}}
}}

{{

	if v, ok := m["{{= rev.ReverseField }}"]; ok {
		switch v2 := v.(type) {
		case []map[string]any: // array expansion
		    o.{{= rev.ReverseField }}.Clear()
			o.{{= rev.ReverseField }}IsDirty = false
			for _,v3 := range v2 {
				obj := new({{= rev.Table.Identifier }})
				obj.unpack(v3, obj)
				o.{{= rev.ReverseField }}.Set(obj.PrimaryKey(), obj)
			}
		default:
			panic("Wrong type found for {{= rev.ReverseField }} object.")
		}
	} else {
		o.{{= rev.ReverseField }}.Clear()
		o.{{= rev.ReverseField }}IsDirty = false
	}

}}
