
{{g
//*** {{includeName}}
}}

{{

	if v, ok := m["{{= col.ReverseIdentifier() }}"]; ok {
		switch v2 := v.(type) {
		case []map[string]any: // array expansion
		    o.{{= col.ReverseField }}.Clear()
			o.{{= col.ReverseField }}IsDirty = false
			for _,v3 := range v2 {
				obj := new({{= col.Table.Identifier }})
				obj.unpack(v3, obj)
				o.{{= col.ReverseField }}.Set(obj.PrimaryKey(), obj)
			}
		default:
			panic("Wrong type found for {{= col.ReverseField }} object.")
		}
	} else {
		o.{{= col.ReverseField }}.Clear()
		o.{{= col.ReverseField }}IsDirty = false
	}

}}
