//*** {{includeName}}

if col.IsAutoId {
    continue // auto id values are not setable
}

size := col.Size
if col.Size == 0 || col.Size > 10 {
    size = 10
}

{{
func Test{{= table.Identifier }}_Set{{= col.Identifier }}(t *testing.T) {
    obj := New{{= table.Identifier }}()

    {{= col.VariableIdentifier() }} := strings2.RandomString(strings2.AlphaAll, {{u size}})
    obj.Set{{= col.Identifier }}({{= col.VariableIdentifier() }})
    assert.Equal(t, {{= col.VariableIdentifier() }}, obj.{{= col.Identifier }}())
{{if col.IsNullable }}
    assert.False(t, obj.{{= col.Identifier }}IsNull())
{{if}}

{{if col.IsNullable }}
   obj.Set{{= col.Identifier }}(nil)
   assert.True(t, obj.{{= col.Identifier }}IsNull())
{{if}}

    obj.Set{{= col.Identifier }}("")
    assert.Equal(t, "", obj.{{= col.Identifier }}(), "set empty")
{{if col.IsNullable }}
    assert.False(t, obj.{{= col.Identifier }}IsNull())
{{if}}

{{if col.Size > 0}}
   {{= col.VariableIdentifier() }} = strings2.RandomString(strings2.AlphaAll, {{u col.Size + 1}})
    assert.Panics(t, func() {
        obj.Set{{= col.Identifier }}({{= col.VariableIdentifier() }})
    })
{{if}}

}
}}
