
{{g
//*** {{includeName}}
}}
{{

// GetAlias returns the alias for the given key.
func (o *{{= table.DecapIdentifier}}Base) GetAlias(key string) query.AliasValue {
	if a,ok := o._aliases[key]; ok {
		return query.NewAliasValue(a)
	} else {
		panic ("Alias " + key + " not found.")
		return query.NewAliasValue([]byte{})
	}
}

}}
