
//*** {{includeName}}

{{

// {{= col.Reference.Identifier }} returns the current value of the loaded {{= col.Reference.Identifier }}, and nil if its not loaded.
func (o *{{= table.Identifier}}Base) {{= col.Reference.Identifier }}() *{{= col.Reference.Table.Identifier }} {
	return o.{{= col.Reference.DecapIdentifier }}
}

// Load{{= col.Reference.Identifier }} returns the related {{= col.Reference.Identifier }}. If it is not already loaded,
// it will attempt to load it, provided the {{= col.Identifier }} column has been loaded first.
func (o *{{= table.Identifier}}Base) Load{{= col.Reference.Identifier }}(ctx context.Context) *{{= col.Reference.Identifier }} {
	if !o.{{= col.Identifier }}IsValid  {
		return nil
	}

	if o.{{= col.DecapIdentifier }} == nil {
		// Load and cache
		o.{{= col.DecapIdentifier }} = Load{{= col.Reference.Identifier }}(ctx, o.{{= col.Identifier }}())
	}
	return o.{{= col.DecapIdentifier }}
}

}}