
{{g
//*** {{includeName}}
}}

{{
// Set{{= col.Identifier }} sets the value of {{= col.Identifier }} in the object, to be saved later in the database using the Save() function.
{{if col.IsAPrimaryKey() }}
// You cannot change a primary key for a record that has been written to the database. While SQL databases will
// allow it, NoSql databases will not. Save a copy and delete this one instead.
{{if}}
func (o *{{= table.DecapIdentifier }}Base) Set{{= col.Identifier }}(v {{= col.Type }}) {
{{if col.IsAPrimaryKey() }}
    if o._restored {
        panic ("error: Do not change a primary key for a record that has been saved. Instead, save a copy and delete the original.")
    }
{{if}}
	if o._restored &&
	    o.{{= col.Field }}IsLoaded && // if it was not selected, then make sure it gets set, since our end comparison won't be valid
{{if col.IsNullable }}
		!o.{{= col.Field }}IsNull && // if the db value is null, force a set of value
{{if}}
        o.{{= col.Field }} == v {
        // no change
        return
    }

	o.{{= col.Field }}IsLoaded = true
	o.{{= col.Field }} = v
	o.{{= col.Field }}IsDirty = true
{{if col.IsNullable }}
    o.{{= col.Field }}IsNull = false
{{if}}
{{if col.Reference != nil }}
	if o.{{= col.Reference.Field }} != nil &&
	        o.{{= col.Field }} != o.{{= col.Reference.Field }}.PrimaryKey() {
	    o.{{= col.Reference.Field }} = nil
	}
{{if}}
}

}}