
{{g
//*** {{includeName}}
}}
{{

// Set{{= col.ReferenceIdentifier() }} will set the reference to {{= col.Reference.DecapIdentifier }}. The referenced object
// will be saved when {{= table.Identifier}} is saved. Pass nil to break the connection.
func (o *{{= table.DecapIdentifier}}Base) Set{{= col.ReferenceIdentifier() }}({{= col.ReferenceVariableIdentifier() }} *{{= col.ReferenceType() }}) {
	o.{{= col.DecapIdentifier }}IsLoaded = true
	if {{= col.ReferenceVariableIdentifier() }} == nil {
		if !o.{{= col.DecapIdentifier }}IsNull || !o._restored {
			o.{{= col.DecapIdentifier }}IsNull = true
			o.{{= col.DecapIdentifier }}IsDirty = true
			o.{{= col.VariableIdentifier() }} = {{= col.DefaultValueAsValue() }}
			o.{{= col.ReferenceVariableIdentifier() }} = nil
		}
	} else {
		o.{{= col.ReferenceVariableIdentifier() }}  = {{= col.ReferenceVariableIdentifier() }}
		if o.{{= col.DecapIdentifier }}IsNull || !o._restored || o.{{= col.DecapIdentifier }} != {{= col.ReferenceVariableIdentifier() }}.PrimaryKey() {
			o.{{= col.DecapIdentifier }}IsNull = false
			o.{{= col.VariableIdentifier() }} = {{= col.ReferenceVariableIdentifier() }}.PrimaryKey()
			o.{{= col.DecapIdentifier }}IsDirty = true
		}
	}
}

}}
