
{{g
//*** {{includeName}}
}}
{{

// {{= col.ReferenceIdentifier() }} returns the current value of the loaded {{= col.ReferenceIdentifier() }}, and nil if its not loaded.
func (o *{{= table.DecapIdentifier}}Base) {{= col.ReferenceIdentifier() }}() *{{= col.ReferenceType() }} {
	return o.{{= col.ReferenceVariableIdentifier() }}
}

// Load{{= col.ReferenceIdentifier() }} returns the related {{= col.ReferenceIdentifier() }}. If it is not already loaded,
// it will attempt to load it, provided the {{= col.Identifier }} column has been loaded first.
func (o *{{= table.DecapIdentifier}}Base) Load{{= col.ReferenceIdentifier() }}(ctx context.Context) (*{{= col.ReferenceType() }}, error) {
	var err error

	if o.{{= col.ReferenceVariableIdentifier() }} == nil {
	    if !o.{{= col.VariableIdentifier() }}IsLoaded  {
    		panic("{{= col.Identifier }} must be selected in the previous query")
    	}
		// Load and cache
		o.{{= col.ReferenceVariableIdentifier() }}, err = Load{{= col.ReferenceType() }}(ctx, o.{{= col.VariableIdentifier() }})
    }
	return o.{{= col.ReferenceVariableIdentifier() }}, err
}

}}