
{{g
//*** {{includeName}}
}}

{{
// Set{{= col.Identifier }} sets the value of {{= col.Identifier }} in the object, to be saved later using the Save() function.
func (o *{{= table.DecapIdentifier }}Base) Set{{= col.Identifier }}({{= col.DecapIdentifier }} {{= col.GoType()

 }}) {
	o.{{= col.DecapIdentifier }}IsValid = true
{{if col.Type == query.ColTypeBytes }}
	o.{{= col.DecapIdentifier }} = {{= col.DecapIdentifier }}		// TODO: Copy bytes??
	o.{{= col.DecapIdentifier }}IsDirty = true
{{else}}
	if o.{{= col.DecapIdentifier }} != {{= col.DecapIdentifier }} || !o._restored {
		o.{{= col.DecapIdentifier }} = {{= col.DecapIdentifier }}
		o.{{= col.DecapIdentifier }}IsDirty = true
{{if col.Reference != nil}}
		o.{{= col.ReferenceVariableIdentifier() }} = nil
{{if}}
	}
{{if}}
}

}}
