
{{g
//*** {{includeName}}
}}

{{
// Set{{= col.Identifier }} sets the value of {{= col.Identifier }} in the object, to be saved later using the Save() function.
func (o *{{= table.DecapIdentifier }}Base) Set{{= col.Identifier }}({{= col.VariableIdentifier() }} {{= col.GoType() }}) {
	o.{{= col.VariableIdentifier() }}IsValid = true
{{if col.Type == query.ColTypeBytes }}
{{if col.Size > 0}}
    if len({{= col.VariableIdentifier() }}) > {{= table.Identifier}}{{= col.Identifier}}MaxLength {
        panic("attempted to set {{= table.Identifier}}.{{= col.Identifier }} to a value larger than its maximum length")
    }
{{if}}
	o.{{= col.VariableIdentifier() }} = {{= col.VariableIdentifier() }}		// TODO: Copy bytes??
	o.{{= col.VariableIdentifier() }}IsDirty = true
{{else}}
{{if col.Type == query.ColTypeString && col.Size > 0 }}
    if utf8.RuneCountInString({{= col.VariableIdentifier() }}) > {{= table.Identifier}}{{= col.Identifier}}MaxLength {
        panic("attempted to set {{= table.Identifier}}.{{= col.Identifier }} to a value larger than its maximum length in runes")
    }
{{if}}
	if o.{{= col.VariableIdentifier() }} != {{= col.VariableIdentifier() }} || !o._restored {
		o.{{= col.VariableIdentifier() }} = {{= col.VariableIdentifier() }}
		o.{{= col.VariableIdentifier() }}IsDirty = true
{{if col.Reference != nil}}
		o.{{= col.ReferenceVariableIdentifier() }} = nil
{{if}}
	}
{{if}}
}

}}
