
{{g
//*** {{includeName}}


}}
{{
// {{= col.Identifier }} returns the value of {{= col.Identifier }}.
func (o *{{= table.DecapIdentifier}}Base) {{= col.Identifier }}() {{= col.GoType() }} {
	if o._restored && !o.{{= col.VariableIdentifier() }}IsLoaded {
		panic ("{{= col.Identifier }} was not selected in the last query and has not been set, and so is not valid")
	}
{{if col.IsEnumArray() }}
    if o.{{= col.VariableIdentifier() }} == nil {
        return nil
    }
    return o.{{= col.VariableIdentifier() }}.Clone()
{{else}}
	return o.{{= col.VariableIdentifier() }}
{{if}}
}

}}
