
//*** {{includeName}}

{{

// {{= col.Reference.ReverseIdentifier}} returns the connected {{= col.Table.Identifier }} object, if one was loaded.
// Otherwise, it will return nil.
func (o *{{= table.Identifier}}Base) {{= col.Reference.ReverseIdentifier }}() *{{= col.Table.Identifier}} {
	if o.{{= col.ReverseVariableIdentifier() }} == nil {
		return nil
	}
	return o.{{= col.ReverseVariableIdentifier() }}
}

// Load{{= col.Reference.ReverseIdentifier }} returns the connected {{= col.Table.Identifier }} object, if one was loaded.
// Otherwise, it will load a new one and return it.
func (o *{{= table.Identifier}}Base) Load{{= col.Reference.ReverseIdentifier }}(ctx context.Context) *{{= col.Table.Identifier }} {
    if o.{{= col.ReverseVariableIdentifier() }} != nil && o.{{= col.ReverseVariableIdentifier() }}.IsDirty() {
        panic("The {{= col.Reference.ReverseIdentifier }} has changed. You must save it first before changing to a different one.")
    }
	if o.{{= col.ReverseVariableIdentifier() }} == nil {
	    var pk {{= col.Table.PrimaryKeyColumn().GoType() }}
	    if o.{{= col.ReversePkIdentifier() }} != nil {
	        pk = *o.{{= col.ReversePkIdentifier() }}
	    } else {
	        pk = o.{{= col.Table.PrimaryKeyColumn().Identifier }}()
	    }
		o.{{= col.ReverseVariableIdentifier() }} = Load{{= col.Table.Identifier }}By{{= col.Identifier }}(ctx, pk)
	}
	return o.{{= col.ReverseVariableIdentifier() }}
}

// Set{{= col.Reference.ReverseIdentifier }} associates obj with this {{= table.Identifier }}
// through the reverse relationship in {{= col.Table.Identifier }}.{{= col.Identifier }}.
//
// The association is temporary until you call Save().
{{if col.IsNullable }}
// Since this is a unique relationship, if a different {{= col.Table.Identifier }} object is currently pointing to this {{= table.Identifier }},
// that {{= col.Table.Identifier }}'s {{= col.Identifier }} value will be set to null when Save is called.
// If you did not use a join to query the attached {{= col.Table.Identifier }} in the first place, used a conditional join,
// or joined with an expansion, be particularly careful, since you may be inadvertently  changing an item
// that is not currently attached to this {{table.Identifier}}.
{{else}}
// WARNING! Since this is a non-nullable unique relationship,
// if a different {{= col.Table.Identifier }} object is currently pointing to this {{= table.Identifier }},
// Save() will panic. You should delete that object first.
{{if}}
func (o *{{= table.Identifier}}Base) Set{{= col.Identifier }}(obj *{{= col.GoType() }}) {
    if o.{{= col.ReverseVariableIdentifier() }} != nil && o.{{= col.ReverseVariableIdentifier() }}.IsDirty() {
        panic("The {{= col.Reference.ReverseIdentifier }} has changed. You must save it first before changing to a different one.")
    }
	o.{{= col.ReverseVariableIdentifier() }} = obj
	o.{{= col.ReversePkIdentifier() }} = nil
	o.{{= col.ReverseVariableIdentifier() }}IsDirty = true
}

// Set{{= col.Reference.ReverseIdentifier }}By{{= col.Table.PrimaryKeyColumn().Identifier }}
// associates this {{= table.Identifier }} with the {{= col.Table.Identifier }}
// that has primary key pk.
//
// The association is temporary until you call Save().
// If a {{= col.Table.Identifier }} is loaded, it will be unloaded.
//
{{if col.IsNullable }}
// Since this is a unique relationship, if a different {{= col.Table.Identifier }} object is currently pointing to this {{= table.Identifier }},
// that {{= col.Table.Identifier }}'s {{= col.Identifier }} value will be set to null when Save is called.
// If you did not use a join to query the attached {{= col.Table.Identifier }} in the first place, used a conditional join,
// or joined with an expansion, be particularly careful, since you may be inadvertently  changing an item
// that is not currently loaded in this {{table.Identifier}}.
{{else}}
// WARNING! Since this is a non-nullable unique relationship,
// if a different {{= col.Table.Identifier }} object is currently pointing to this {{= table.Identifier }},
// Save() will panic. You should delete that object first.
{{if}}
func (o *{{= table.Identifier}}Base) Set{{= col.Reference.ReverseIdentifier }}By{{= col.Table.PrimaryKeyColumn().Identifier }}(pk {{= col.Table.PrimaryKeyGoType() }}) {
    if o.{{= col.ReverseVariableIdentifier() }} != nil && o.{{= col.ReverseVariableIdentifier() }}.IsDirty() {
        panic("The {{= col.Identifier }} value has changed. You must save it first before changing to a different one.")
    }
	o.{{= col.ReverseVariableIdentifier() }} = nil
	o.{{= col.ReverseVariableIdentifier() }}IsDirty = true
	o.{{= col.ReversePkIdentifier() }} = &pk
}

}}
