
{{g
//*** {{includeName}}
}}
{{

// IDs used to access the {{= table.Identifier }} object fields by name using the Get function.
// doc: type={{= table.Identifier }}
const  (
{{for _,col := range table.Columns}}
    {{= table.Identifier }}{{= col.Identifier}}Field = `{{= col.Field }}`
{{for}}
{{for _,ref := range table.References}}
    {{= table.Identifier }}{{= ref.ForeignKey.Identifier}}Field = `{{= ref.ForeignKey.Field }}`
    {{= table.Identifier }}{{= ref.Identifier }}Field = `{{= ref.Field }}`
{{for}}
{{for _,rev := range table.ReverseReferences}}
    {{= table.Identifier }}{{= rev.ReverseIdentifier }}Field = `{{= rev.ReverseField }}`
{{for}}
{{for _,mm := range table.ManyManyReferences}}
    {{= table.Identifier }}{{= mm.IdentifierPlural }}Field = `{{= mm.Field }}`
{{for}}
)

{{for _,col := range table.AllColumns() }}
{{if col.Size > 0}}
{{if col.ReceiverType == query.ColTypeString}}
    const {{= table.Identifier }}{{= col.Identifier }}MaxLength = {{u col.MaxLength() }} // The number of runes the column can hold
{{elseif col.ReceiverType == query.ColTypeBytes || col.ReceiverType == query.ColTypeUnknown }}
    const {{= table.Identifier }}{{= col.Identifier }}MaxLength = {{u col.MaxLength() }} // The number of bytes the column can hold
{{elseif col.ReceiverType == query.ColTypeInteger }}
    const {{= table.Identifier }}{{= col.Identifier }}Max = {{L col.MaxInt() }}
    const {{= table.Identifier }}{{= col.Identifier }}Min = {{L col.MinInt() }}
{{if}}
{{if}}
{{for}}

}}
