
{{g
//*** {{includeName}}
}}
for _,rev := range table.ReverseReferences {
	if rev.IsUnique {
        {{: "accessors/rev_accessor_unique.tmpl" }}
	} else { // Unique
	    {{: "accessors/rev_accessor.tmpl" }}
	}
}
