
{{g
//*** {{includeName}}
}}
// TODO: Make sure dirty related objects are saved first
// TODO: Make sure id field cannot be set or updated

{{

// save will update or insert the object, depending on the state of the object.
func (o *{{= table.DecapIdentifier}}Base) save(ctx context.Context) error {
	if o._restored {
		return o.update(ctx)
	} else {
		return o.insert(ctx)
	}
}

{{: "save/update.tmpl" }}

{{: "save/insert.tmpl" }}

{{: "save/get_update_fields_func.tmpl" }}
{{: "save/get_insert_fields_func.tmpl" }}

}}
