
{{g
//*** {{includeName}}
}}
{{

// {{= table.Identifier}}Base is embedded in a {{= table.Identifier }} object and provides the ORM access to the database.
// The member variables of the structure are private and should not normally be accessed by the {{= table.Identifier }} embedder.
// Instead, use the accessor functions.
type {{= table.DecapIdentifier}}Base struct {
{{for _,col := range table.AllColumns() }}
	{{= col.Field }} {{= col.Type }}
{{if col.IsNullable}}
	{{= col.Field }}IsNull bool
{{if}}
	{{= col.Field }}IsLoaded bool
{{if col.HasSetter() }}
	{{= col.Field }}IsDirty bool
{{if}}
{{for}}
{{if table.HasReferences() }}

    // References
{{for _,ref := range table.References}}
	{{= ref.Field }} *{{= ref.ReferencedTable.Identifier }}
{{for}}
{{if}}
{{if table.HasReverseReferences() }}

    // Reverse references
{{for _,rev := range table.ReverseReferences}}
{{if rev.IsUnique }}
    {{= rev.ReverseField }} *{{= rev.Table.Identifier }}
    {{= rev.ReverseField }}IsDirty bool // is a new one being associated
{{else}}
    {{= rev.ReverseField }} maps.SliceMap[{{= rev.Table.PrimaryKeyType() }}, *{{= rev.Table.Identifier }}]  // Objects in the order they were queried
    {{= rev.ReverseField }}IsDirty bool
{{if}}
{{for}}
{{if}}
{{if table.HasManyManyReferences() }}

// Many-Many references
{{for _,mm := range table.ManyManyReferences }}
    {{= mm.Field }} maps.SliceMap[{{= mm.PrimaryKeyType() }}, *{{= mm.Type() }}]
    {{= mm.PkField() }} []{{= mm.PrimaryKeyType() }}                // Primary keys to associate at Save time
    {{= mm.Field }}IsDirty bool
{{for}}
{{if}}

	// Custom aliases, if specified
	_aliases map[string]any

	// Indicates whether this is a new object, or one loaded from the database. Used by Save to know whether to Insert or Update.
	_restored bool

    _originalPK {{= table.PrimaryKeyType() }}
}

}}
