
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.QueryName }}"]; ok && v != nil {
{{if col.IsEnumReference()}}
    	if i, ok2 := v.({{= col.Type.GoType() }}); ok2 {
            o.{{= col.VariableIdentifier() }} = {{= col.GoType() }}(i)
{{else}}
    	if o.{{= col.VariableIdentifier() }}, ok = v.({{= col.GoType() }}); ok {
{{if}}
			o.{{= col.VariableIdentifier() }}IsValid = true
			o.{{= col.VariableIdentifier() }}IsDirty = false
        {{if col.IsPk}}
            o._originalPK = o.{{= col.VariableIdentifier() }}
        {{if}}
		} else {
			panic("Wrong type found for {{= col.QueryName }}.")
		}
	} else {
		o.{{= col.VariableIdentifier() }}IsValid = false
		o.{{= col.VariableIdentifier() }} = {{= col.DefaultValueAsValue() }}
	}

}}
