
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.QueryName }}"]; ok && v != nil {
		if o.{{= col.VariableIdentifier() }}, ok = v.({{= col.GoType() }}); ok {
			o.{{= col.VariableIdentifier() }}IsValid = true
			o.{{= col.VariableIdentifier() }}IsDirty = false
        {{if col.IsPk}}
            o._originalPK = o.{{= col.VariableIdentifier() }}
        {{if}}
		} else {
			panic("Wrong type found for {{= col.QueryName }}.")
		}
	} else {
		o.{{= col.VariableIdentifier() }}IsValid = false
		o.{{= col.VariableIdentifier() }} = {{= col.DefaultValueAsValue() }}
	}

}}
