
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.ReferenceIdentifier() }}"]; ok {
		if {{= col.ReferenceVariableIdentifier() }}, ok2 := v.(map[string]interface{}); ok2 {
			o.{{= col.ReferenceVariableIdentifier() }} = new({{= col.ReferenceType() }})
			o.{{= col.ReferenceVariableIdentifier() }}.load({{= col.ReferenceVariableIdentifier() }}, o.{{= col.ReferenceVariableIdentifier() }})
			o.{{= col.VariableIdentifier() }}IsValid = true
			o.{{= col.VariableIdentifier() }}IsDirty = false
		} else {
			panic("Wrong type found for {{= col.ReferenceIdentifier() }} object.")
		}
	} else {
		o.{{= col.ReferenceVariableIdentifier() }} = nil
	}

}}
