
{{g
//*** {{includeName}}
}}

{{

	if v, ok := m["{{= col.ReverseIdentifier() }}"]; ok {
		switch v2 := v.(type) {
		case []map[string]any: // array expansion
		    o.{{= col.ReverseVariableIdentifier() }}.Clear()
			o.{{= col.ReverseVariableIdentifier() }}IsDirty = false
			for _,v3 := range v2 {
				obj := new({{= col.Table.Identifier }})
				obj.load(v3, obj)
				o.{{= col.ReverseVariableIdentifier() }}.Set(obj.PrimaryKey(), obj)
			}
		default:
			panic("Wrong type found for {{= col.ReverseVariableIdentifier() }} object.")
		}
	} else {
		o.{{= col.ReverseVariableIdentifier() }}.Clear()
		o.{{= col.ReverseVariableIdentifier() }}IsDirty = false
	}

}}
