
//*** {{includeName}}

{{

	if v, ok := m["{{= col.ReverseFunction() }}"]; ok {
		if v2, ok2 := v.(db.ValueMap); ok2 {
			o.{{= col.ReverseVariableIdentifier() }} = new({{= col.Table.Identifier }})
			o.{{= col.ReverseVariableIdentifier() }}.load(v2, o.{{= col.VariableIdentifier() }}, objThis, "{{= col.Reference.Identifier }}")
			o.{{= col.ReverseVariableIdentifier() }}IsDirty = false
		} else {
			panic("Wrong type found for {{= col.VariableIdentifier() }} object.")
		}
	} else {
		o.{{= col.VariableIdentifier() }} = nil
		o.{{= col.VariableIdentifier() }}IsDirty = false
	}

}}
