{{g
//*** {{includeName}}
}}
{{

    if o.{{= col.Field }}IsLoaded {
{{if col.IsNullable}}
        if o.{{= col.Field }}IsNull {
            v["{{= col.JsonKey() }}"] = nil
        } else {
            v["{{= col.JsonKey() }}"] = o.{{= col.Field }}
        }
{{else}}
        v["{{= col.JsonKey() }}"] = o.{{= col.Field }}
{{if}}
    }

}}
