
{{g
//*** {{includeName}}
}}
{{
{{if rev.IsUnique }}
    if obj := o.{{= rev.ReverseField }}; obj != nil {
        v["{{= rev.ReverseJsonKey() }}"] = obj.MarshalStringMap()
    }
{{else}}
    if o.{{= rev.ReverseField }}.Len() != 0 {
        var vals []map[string]interface{}
        for obj := range o.{{= rev.ReverseField }}.ValuesIter() {
            vals = append(vals, obj.MarshalStringMap())
        }
        v["{{= rev.ReverseJsonKey() }}"] = vals
    }
{{if}}
}}
