
{{g
//*** {{includeName}}
}}

{{

    if o._aliases == nil {
        if err := enc.Encode(false); err != nil {
            return err
        }
    } else {
        if err := enc.Encode(true); err != nil {
            return err
        }
        if err := enc.Encode(o._aliases); err != nil {
            return fmt.Errorf("error encoding {{= table.Identifier }}._aliases: %w", err)
        }
    }

    if err := enc.Encode(o._restored); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}._restored: %w", err)
    }
    if err := enc.Encode(o._originalPK); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}._originalPK: %w", err)
    }
}}
