
{{g
//*** {{includeName}}
}}
{{

    if err = dec.Decode(&o.{{= mm.Field }}); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= mm.PkField() }}: %w", err)
    }
    if err = dec.Decode(&o.{{= mm.Field }}IsDirty); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= mm.Field }}IsDirty: %w", err)
    }
    if err = dec.Decode(&isPtr); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= mm.PkField() }} isPtr: %w", err)
    }
    if isPtr {
        if err = dec.Decode(&o.{{= mm.PkField() }}); err != nil {
            return fmt.Errorf("error decoding {{= table.Identifier }}.{{= mm.PkField() }}: %w", err)
        }
    }
}}
