
{{g
//*** {{includeName}}
}}
{{
    if err = dec.Decode(&o.{{= rev.ReverseField}}); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= rev.ReverseField }}: %w", err)
    }

    if err = dec.Decode(&o.{{= rev.ReverseField}}IsDirty); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= rev.ReverseField }}IsDirty: %w", err)
    }

    {{# We will need to rebuild the map based on the object decoded, since they are pointers to the same objects}}
}}
