
{{g
//*** {{includeName}}
}}
{{
    if err = dec.Decode(&isPtr); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}._aliases isPtr: %w", err)
    }
    if isPtr {
        if err = dec.Decode(&o._aliases); err != nil {
            return fmt.Errorf("error decoding {{= table.Identifier }}._aliases: %w", err)
        }
    }

    if err = dec.Decode(&o._restored); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}._restored: %w", err)
    }
    if err = dec.Decode(&o._originalPK); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}._originalPK: %w", err)
    }
}}
