
{{g
//*** {{includeName}}
}}

{{
// Set{{= col.Identifier }}ToNull() will set the {{= col.QueryName }} value in the database to NULL.
// {{= col.Identifier }}() will return the column's default value after this.
{{if col.Reference != nil }}
// Will also set the attached o.{{= col.Reference.Identifier }} to nil.
{{if}}
func (o *{{= table.DecapIdentifier}}Base) Set{{= col.Identifier }}ToNull() {
	if !o.{{= col.Field }}IsLoaded || !o.{{= col.Field }}IsNull {
        // If we know it is null in the database, don't save it
		o.{{= col.Field }}IsDirty = true
	}
    o.{{= col.Field }}IsLoaded = true
    o.{{= col.Field }}IsNull = true
    o.{{= col.Field }} = {{= col.DefaultValueAsValue() }}
{{if col.Reference != nil }}
	o.{{= col.Reference.Field }} = nil
{{if}}
}
}}
