
{{g
//*** {{includeName}}
}}
{{
{{# Update reverse references }}

{{for _,rev := range table.ReverseReferences }}
    {{if rev.IsUnique }}

    if o.{{= rev.ReverseField }} != nil {
        o.{{= rev.ReverseField }}.Set{{= rev.ForeignKey.Identifier }}(o.PrimaryKey())
        if err = o.{{= rev.ReverseField }}.Save(ctx); err != nil {
            return err
        }
    }

    {{else}} {{# not unique }}

    if o.{{= rev.ReverseField }}.Len() > 0 {
        keys := o.{{= rev.ReverseField }}.Keys()
        for i, k := range keys {
            obj := o.{{= rev.ReverseField }}.Get(k)
            obj.Set{{= rev.ForeignKey.Identifier }}(o.PrimaryKey())
            if err = obj.Save(ctx); err != nil {
                return err
            }
            if obj.PrimaryKey() != k {
                o.{{= rev.ReverseField }}.Delete(k)
                o.{{= rev.ReverseField }}.SetAt(i, obj.PrimaryKey(), obj)
            }
        }
    }
    {{if}}

{{for}}

}}
