
{{g
//*** {{includeName}}
}}
{{
                if currentObjs, err := Query{{= rev.Table.IdentifierPlural }}(ctx).
                          Where(op.Equal(node.{{= rev.Table.Identifier }}().{{= rev.ForeignKey.Identifier }}(), o.{{= table.PrimaryKeyColumn().Identifier }}())).
                          Select(node.{{= rev.Table.Identifier }}().{{= rev.ForeignKey.Identifier }}()).
{{if rev.Table.LockColumn != nil }}
                          Select(node.{{= rev.Table.Identifier }}().{{= rev.Table.LockColumn.Identifier }}()).
{{if}}
                          Load(); err != nil {
                    return err
                } else {
                    for _,obj := range currentObjs {
                        if !o.{{= rev.ReverseField }}.Has(obj.PrimaryKey()) {
                            // The old object is not in the group of new objects
                            obj.Set{{= rev.ForeignKey.Identifier }}ToNull()
                            if err = obj.Save(ctx); err != nil {
                                return err
                            }
                        }
                    }
                    keys := o.{{= rev.ReverseField }}.Keys() // Make a copy of the keys, since we will change the slicemap while iterating
                    for i, k := range keys {
                        obj := o.{{= rev.ReverseField }}.Get(k)
                        obj.Set{{= rev.ForeignKey.Identifier }}(o.PrimaryKey())
                        obj.{{= rev.ForeignKey.Field }}IsDirty = true // force a change in case data is stale
                        if err = obj.Save(ctx); err != nil {
                            return err
                        }
                        if obj.PrimaryKey() != k {
                            // update slice map key without changing order
                            o.{{= rev.ReverseField }}.Delete(k)
                            o.{{= rev.ReverseField }}.SetAt(i, obj.PrimaryKey(), obj)
                        }
                    }
                }

}}
