{{g
//*** {{includeName}}
}}
{{
{{for _,ref := range table.References }}
    // Save loaded {{= ref.Identifier }} object to get its new pk and update it here.
    if o.{{= ref.Field }} != nil {
        if err := o.{{= ref.Field }}.Save(ctx); err != nil {
            return err
        }
        o.Set{{= ref.ForeignKey.Identifier }}(o.{{= ref.Field }}.PrimaryKey())
    }
{{for}}
}}
