{{g
//*** {{includeName}}
}}

{{

func init() {
	gob.Register(new({{= table.DecapIdentifier }}Table))
{{if hasReverse}}
	gob.Register(new({{= table.DecapIdentifier }}Reference))
{{if}}
{{if hasReference}}
	gob.Register(new({{= table.DecapIdentifier }}Reverse))
{{if}}
{{if hasAssociation}}
	gob.Register(new({{= table.DecapIdentifier }}Association))
{{if}}
}
}}