{{g
//*** {{includeName}}
}}

{{
// PrimaryKey returns a node that points to the primary key column.
func (n {{= table.DecapIdentifier }}Table) PrimaryKey() *query.ColumnNode {
    return n.{{col.Identifier}}()
}

{{if hasReverse}}
// PrimaryKey returns a node that points to the primary key column.
func (n *{{= table.DecapIdentifier}}Reference) PrimaryKey() *query.ColumnNode {
    return n.{{col.Identifier}}()
}

{{if}}
{{if hasReference}}
// PrimaryKey returns a node that points to the primary key column.
func (n *{{= table.DecapIdentifier}}Reverse) PrimaryKey() *query.ColumnNode {
    return n.{{col.Identifier}}()
}

{{if}}
{{if hasAssociation}}
// PrimaryKey returns a node that points to the primary key column.
func (n *{{= table.DecapIdentifier}}Association) PrimaryKey() *query.ColumnNode {
    return n.{{col.Identifier}}()
}

{{if}}
}}
