{{g
//*** {{includeName}}
}}

{{

{{# The following 3 functions are in support of the Node interface and use of the node in the goradd framework. }}

// TableName_ returns the query name of the table the node is associated with.
func (n {{= table.DecapIdentifier }}Table) TableName_() string {
    return "{{= table.QueryName }}"
}

// NodeType_ returns the query.NodeType of the node.
func (n {{= table.DecapIdentifier }}Table) NodeType_() query.NodeType {
    return query.TableNodeType
}

// DatabaseKey_ returns the database key of the database the node is associated with.
func (n {{= table.DecapIdentifier }}Table) DatabaseKey_() string {
    return "{{= table.DbKey }}"
}

// ColumnNodes_ is used internally by the framework to return the list of all the column nodes.
func (n {{= table.DecapIdentifier }}Table) ColumnNodes_() (nodes []query.Node) {
{{for _,col := range table.Columns}}
	nodes = append(nodes, n.{{col.Identifier}}())
{{for}}
	return nodes
}

{{if hasReverse}}
func (n *{{= table.DecapIdentifier }}Reference) ColumnNodes_() (nodes []query.Node) {
    nodes = n.{{= table.DecapIdentifier }}Table.ColumnNodes_()
    for _,cn := range nodes {
        query.NodeSetParent(cn, n)
    }
    return
}
{{if}}

{{if hasReference}}
func (n *{{= table.DecapIdentifier }}Reverse) ColumnNodes_() (nodes []query.Node) {
    nodes = n.{{= table.DecapIdentifier }}Table.ColumnNodes_()
    for _,cn := range nodes {
        query.NodeSetParent(cn, n)
    }
    return
}
{{if}}

{{if hasAssociation}}
func (n *{{= table.DecapIdentifier }}Association) ColumnNodes_() (nodes []query.Node) {
    nodes = n.{{= table.DecapIdentifier }}Table.ColumnNodes_()
    for _,cn := range nodes {
        query.NodeSetParent(cn, n)
    }
    return
}
{{if}}


// IsEnum_ is used internally by the framework to determine if the current table is an enumerated type.
func (n {{= table.DecapIdentifier }}Table) IsEnum_() bool {
    return false
}

{{if hasReverse}}
func (n *{{= table.DecapIdentifier }}Reference) NodeType_() query.NodeType {
    return query.ReferenceNodeType
}
{{if}}

{{if hasReference}}
func (n *{{= table.DecapIdentifier }}Reverse) NodeType_() query.NodeType {
    return query.ReverseNodeType
}
{{if}}

{{if hasAssociation}}
func (n *{{= table.DecapIdentifier }}Association) NodeType_() query.NodeType {
    return query.ManyManyNodeType
}
{{if}}

}}
