{{g
//*** {{includeName}}
}}

{{
// SelectNodes_ is used internally by the framework to return the list of all the column nodes.
func (n {{= table.DecapIdentifier }}Table) SelectNodes_() (nodes []*query.ColumnNode) {
{{for _,col := range table.Columns}}
	nodes = append(nodes, n.{{col.Identifier}}())
{{for}}
	return nodes
}

// Copy_ is used internally by the framework to deep copy the node.
func (n {{= table.DecapIdentifier }}Table) Copy_() query.NodeI {
    // Table nodes are empty so just offer a copy
    var t {{= table.DecapIdentifier }}Table
    return t
}
}}
