{{g
//*** {{includeName}}
}}

func (n *NodeTemplate)genRefNode(table *model.Table, ref *model.Reference, _w io.Writer) (err error) {
{{
// {{= ref.Identifier }} represents the link to a {{= ref.ReferencedTable.Identifier }} object.
func (n {{= table.DecapIdentifier}}Table) {{= ref.Identifier }}() {{= ref.ReferencedTable.Identifier }}Node {
	cn := &{{= ref.Table.DecapIdentifier }}Reference{
		ReferenceNode: query.ReferenceNode {
            ForeignKey:      "{{= ref.ForeignKey.QueryName }}",
            PrimaryKey:      "{{= ref.ReferencedTable.PrimaryKeyColumn().QueryName }}",
            Identifier:      "{{= ref.Identifier }}",
		},
	}
	query.NodeSetParent(cn, n)
	return cn
}

{{if hasReverse}}
func (n *{{= table.DecapIdentifier}}Reference) {{= ref.Identifier }}() {{= ref.ReferencedTable.Identifier }}Node {
    cn := n.{{= table.DecapIdentifier}}Table.{{= ref.Identifier }}().(*{{= ref.Table.DecapIdentifier }}Reference)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
{{if hasReference}}
func (n *{{= table.DecapIdentifier}}Reverse) {{= ref.Identifier }}() {{= ref.ReferencedTable.Identifier }}Node {
    cn := n.{{= table.DecapIdentifier}}Table.{{= ref.Identifier }}().(*{{= ref.Table.DecapIdentifier }}Reference)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
{{if hasAssociation}}
func (n *{{= table.DecapIdentifier}}Association) {{= ref.Identifier }}() {{= ref.ReferencedTable.Identifier }}Node {
    cn := n.{{= table.DecapIdentifier}}Table.{{= ref.Identifier }}().(*{{= ref.Table.DecapIdentifier }}Reference)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
}}
    return
}

