
{{g
//*** {{includeName}}
}}
func (n *NodeTemplate)genReverse(table *model.Table, _w io.Writer) (err error) {
    for _,rev := range table.ReverseReferences {
	    if rev.IsUnique {
            if err = n.genReverseOne(table, rev, _w); err != nil {return}
        } else {
            if err = n.genReverseMany(table, rev, _w); err != nil {return}
        }
    }
    return
}


func (n *NodeTemplate)genReverseOne(table *model.Table, rev *model.Reference, _w io.Writer) (err error) {
{{
// {{= rev.ReverseIdentifier }} represents the one-to-one relationship formed by the reverse reference from the
// {{= rev.ForeignKey.QueryName }} column in the {{= rev.Table.QueryName }} table.
func (n {{= table.DecapIdentifier}}Table) {{= rev.ReverseIdentifier }}() {{= rev.Table.Identifier }}Node  {
	cn := &{{= rev.Table.DecapIdentifier }}Reverse{
		ReverseNode: query.ReverseNode{
			ForeignKey: "{{= rev.ForeignKey.QueryName }}",
			PrimaryKey: "{{= table.PrimaryKeyColumn().QueryName }}",
			Identifier: "{{= rev.ReverseIdentifier }}",
			IsUnique:   true,
		},
	}
	query.NodeSetParent(cn, n)
	return cn
}

{{if hasReverse}}
func (n *{{= table.DecapIdentifier}}Reference) {{= rev.ReverseIdentifier }}() {{= rev.Table.Identifier }}Node  {
    cn := n.{{= table.DecapIdentifier}}Table.{{= rev.ReverseIdentifier }}().(*{{= rev.Table.DecapIdentifier }}Reverse)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
{{if hasReference}}
func (n *{{= table.DecapIdentifier}}Reverse) {{= rev.ReverseIdentifier }}() {{= rev.Table.Identifier }}Node  {
    cn := n.{{= table.DecapIdentifier}}Table.{{= rev.ReverseIdentifier }}().(*{{= rev.Table.DecapIdentifier }}Reverse)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
{{if hasAssociation}}
func (n *{{= table.DecapIdentifier}}Association) {{= rev.ReverseIdentifier }}() {{= rev.Table.Identifier }}Node  {
    cn := n.{{= table.DecapIdentifier}}Table.{{= rev.ReverseIdentifier }}().(*{{= rev.Table.DecapIdentifier }}Reverse)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}

}}
    return
}

func (n *NodeTemplate)genReverseMany(table *model.Table, rev *model.Reference, _w io.Writer) (err error) {
{{

// {{= rev.ReverseIdentifier }} represents the many-to-one relationship formed by the reverse reference from the
// {{= rev.ForeignKey.QueryName }} column in the {{= rev.Table.QueryName }} table.
func (n {{= table.DecapIdentifier }}Table) {{= rev.ReverseIdentifierPlural }}() {{= rev.Table.Identifier }}Node  {
	cn := &{{= rev.Table.DecapIdentifier }}Reverse{
		ReverseNode: query.ReverseNode{
			ForeignKey:     "{{= rev.ForeignKey.QueryName }}",
			Identifier:     "{{= rev.ReverseIdentifierPlural }}",
			IsUnique:       false,
		},
	}
	query.NodeSetParent(cn, n)
	return cn
}

{{if hasReverse}}
func (n *{{= table.DecapIdentifier}}Reference) {{= rev.ReverseIdentifierPlural }}() {{= rev.Table.Identifier }}Node {
    cn := n.{{= table.DecapIdentifier}}Table.{{= rev.ReverseIdentifierPlural }}().(*{{= rev.Table.DecapIdentifier }}Reverse)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
{{if hasReference}}
func (n *{{= table.DecapIdentifier}}Reverse) {{= rev.ReverseIdentifierPlural }}() {{= rev.Table.Identifier }}Node {
    cn := n.{{= table.DecapIdentifier}}Table.{{= rev.ReverseIdentifierPlural }}().(*{{= rev.Table.DecapIdentifier }}Reverse)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
{{if hasAssociation}}
func (n *{{= table.DecapIdentifier}}Association) {{= rev.ReverseIdentifierPlural }}() {{= rev.Table.Identifier }}Node {
    cn := n.{{= table.DecapIdentifier}}Table.{{= rev.ReverseIdentifierPlural }}().(*{{= rev.Table.DecapIdentifier }}Reverse)
    query.NodeSetParent(cn, n)
    return cn
}

{{if}}
}}

	return
}