{{g
//*** {{includeName}}
}}

{{

// {{= table.Identifier}}I is the builder interface to the {{= table.Identifier}} nodes.
type {{= table.Identifier}}NodeI interface {
    query.NodeI
    PrimaryKeyNode() *query.ColumnNode

{{for _,col := range table.Columns}}
    {{= col.Identifier }}() *query.ColumnNode
{{if col.IsReference() }}
    {{= col.ReferenceIdentifier() }}() {{= col.ReferenceType() }}NodeI
{{if}}
{{for}}
{{for _,mm := range table.ManyManyReferences}}
    {{= mm.IdentifierPlural }}() *{{= mm.ObjectType() }}Node
{{for}}
{{for _,rev := range table.ReverseReferences}}
{{if rev.IsUnique}}
    {{= rev.Reference.ReverseIdentifier }}() *{{= rev.Table.Identifier }}Node
{{else}}
    {{= rev.Reference.ReverseIdentifierPlural }}() *{{= rev.Table.Identifier }}Node
{{if}}
{{for}}


}

// {{= table.Identifier}}Node represents the {{= table.QueryName}} table in a query. It uses a builder pattern to chain
// together other tables and columns to form a node in a query.
//
// To use the {{= table.Identifier }}Node, call [{{= table.Identifier }}] to start a reference chain when querying the {{= table.QueryName }} table.
type {{= table.Identifier}}Node struct {
    // ReferenceNodeI is an internal object that represents the capabilities of the node. Since it is embedded, all
    // of its functions are exported and are callable along with the {{= table.DecapIdentifier}}Node functions here.
	query.ReferenceNodeI
}
}}
