{{g
//*** {{includeName}}
}}

{{

// {{= table.Identifier}}NodeI is the builder interface to the {{= table.Identifier}} nodes.
type {{= table.Identifier}}NodeI interface {
    query.NodeI
    PrimaryKeyNode() *query.ColumnNode
{{for _,col := range table.Columns}}
{{if !col.IsEnum() }}
    // {{= col.Identifier }} represents the {{= col.QueryName }} column in the database.
    {{= col.Identifier }}() *query.ColumnNode
{{if}}
{{if col.IsReference() }}
    // {{= col.ReferenceIdentifier() }} represents the {{= col.ReferenceIdentifier() }} reference to a {{= col.ReferenceType() }} object.
    {{= col.ReferenceIdentifier() }}() {{= col.ReferenceType() }}NodeI
{{if}}
{{for}}
{{for _,mm := range table.ManyManyReferences}}
     // {{= mm.IdentifierPlural }} represents the {{= mm.IdentifierPlural }} reference to {{= mm.ObjectType() }} objects.
{{if mm.IsEnum() }}
   {{= mm.IdentifierPlural }}() {{= mm.ObjectType() }}NodeI
{{else}}
   {{= mm.IdentifierPlural }}() {{= mm.ObjectType() }}Expander
{{if}}
{{for}}
{{for _,rev := range table.ReverseReferences}}
{{if rev.IsUnique}}
      // {{= rev.Reference.ReverseIdentifier }} represents the {{= rev.Reference.ReverseIdentifier }} reference to a {{= rev.Table.Identifier }} object.
   {{= rev.Reference.ReverseIdentifier }}() {{= rev.Table.Identifier }}NodeI
{{else}}
    // {{= rev.Reference.ReverseIdentifierPlural }} represents the {{= rev.Reference.ReverseIdentifier }} reference to {{= rev.Table.Identifier }} objects.
    {{= rev.Reference.ReverseIdentifierPlural }}() {{= rev.Table.Identifier }}Expander
{{if}}
{{for}}
}

{{if isExpander}}
// {{= table.Identifier}}Expander is the builder interface for {{= table.IdentifierPlural}} that are expandable.
type {{= table.Identifier}}Expander interface {
    {{= table.Identifier}}NodeI
    // Expand causes the node to produce separate rows with individual items, rather than a single row with an array of items.
    Expand()
}
{{if}}

// {{= table.DecapIdentifier }}Table represents the {{= table.QueryName}} table in a query. It uses a builder pattern to chain
// together other tables and columns to form a node chain in a query.
//
// To use the {{= table.DecapIdentifier }}Table, call [{{= table.Identifier }}()] to start a reference chain when querying the {{= table.QueryName }} table.
type {{= table.DecapIdentifier}}Table struct {
}

{{if hasReverse}}
type {{= table.DecapIdentifier}}Reference struct {
    {{= table.DecapIdentifier}}Table
    query.ReferenceNode
}
{{if}}

{{if hasReference}}
type {{= table.DecapIdentifier}}Reverse struct {
    {{= table.DecapIdentifier}}Table
    query.ReverseNode
}
{{if}}

{{if hasAssociation}}
type {{= table.DecapIdentifier}}Association struct {
    {{= table.DecapIdentifier}}Table
    query.ManyManyNode
}
{{if}}
}}
