{{g
//*** {{includeName}}
}}

{{
// {{= table.Identifier }} returns a table node that starts a node chain that begins with the {{= table.QueryName }} table.
func {{= table.Identifier }}() {{= table.Identifier }}NodeI {
    // Table nodes are empty structs, and do not have pointer receivers,
	var n {{= table.DecapIdentifier }}Table
	return n
}
}}
