{{g
//*** {{includeName}}
}}

{{

// ClearAll deletes all the data in the database, except for data in Enum tables.
func ClearAll(ctx context.Context) {
    db := Database()

{{for _,mm := range database.UniqueManyManyReferences() }}
    _ = db.DeleteAll(ctx, {{L mm.AssnTableName }})
{{for}}

{{for _,table := range slices.Backward(database.MarshalOrder()) }}
    _ = db.DeleteAll(ctx, {{L table.QueryName }})
{{for}}

}

}}
