//*** {{includeName}}

{{
func Test{{= table.Identifier }}_EmptyPrimaryKeyGetter(t *testing.T) {
    obj := New{{= table.Identifier }}()

{{for _, col := range table.PrimaryKeyColumns() }}
{{if col.IsAutoPK()}}
    assert.True(t, obj.{{= col.Identifier }}().IsTemp())
{{else}}
    assert.Zero(t, obj.{{= col.Identifier }}())
{{if}}
{{for}}
}

func Test{{= table.Identifier }}_Getters(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()

{{for _, col := range table.PrimaryKeyColumns() }}
{{if col.IsAutoPK()}}
    assert.True(t, obj.{{= col.Identifier }}().IsTemp())
{{if}}
{{for}}

    ctx := context.Background()
    require.NoError(t, obj.Save(ctx))
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    has,_ := Has{{= table.Identifier }}(ctx, obj.PrimaryKey())
    assert.True(t, has)

    obj2, _ := Load{{= table.Identifier }}(ctx, obj.PrimaryKey(),
{{join table.PrimaryKeyColumns(), ", "}}node.{{= table.Identifier }}().{{= _j.Identifier}}(){{join}})
{{if !table.HasAutoPK() }}
    assert.Equal(t, obj.PrimaryKey(), obj2.PrimaryKey())
{{if}}

{{for _, col := range table.Columns }}
    assert.Equal(t, obj.{{= col.Identifier }}(), obj.Get({{= table.Identifier }}{{= col.Identifier }}Field))
{{if !col.IsAPrimaryKey() }}
    assert.Panics(t, func() { obj2.{{= col.Identifier }}() })
    assert.Nil(t, obj2.Get({{= table.Identifier }}{{= col.Identifier }}Field))
{{if}}
{{for}}
{{for _, ref := range table.References }}
{{if !ref.ForeignKey.IsAPrimaryKey() }}
    // Not loaded
    assert.Nil(t, obj2.{{= ref.Identifier }}() )
    assert.Nil(t, obj2.Get({{= table.Identifier }}{{= ref.Identifier }}Field))
    assert.Panics(t, func() { obj2.{{= ref.ForeignKey.Identifier }}() })
    assert.Nil(t, obj2.Get({{= table.Identifier }}{{= ref.ForeignKey.Identifier }}Field))
{{if}}
{{for}}

}

}}

