//*** {{includeName}}

{{
{{if table.HasUniqueIndexes() }}
func Test{{= table.Identifier }}_Indexes(t *testing.T) {
    ctx := context.Background()
    obj := createMaximalSample{{= table.Identifier }}(ctx)
    err := obj.Save(ctx)
	assert.NoError(t, err)
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    var obj2 *{{= table.Identifier }}
{{for _,idx := range table.Indexes}}
{{if idx.IsUnique}}
    obj2, _ = Load{{= table.Identifier }}By{{for _,col := range idx.Columns}}{{= col.Identifier }}{{for}} (ctx {{for _,col := range idx.Columns}}, obj.{{= col.Identifier }}(){{for}})
    assert.Equal(t, obj.PrimaryKey(), obj2.PrimaryKey())
    assert.True(t, func() bool { h,_ := Has{{= table.Identifier }}By{{for _,col := range idx.Columns}}{{= col.Identifier }}{{for}} (ctx {{for _,col := range idx.Columns}}, obj.{{= col.Identifier }}(){{for}}); return h}() )

{{if}}
{{for}}

}
{{if}}
}}