{{g
//*** {{includeName}}
}}
{{
    if len(o.{{= mm.VariableIdentifier() }}) != 0 {
        d.Associate(ctx,
            "{{= mm.AssnTableName }}",
            "{{= mm.AssnSourceColumnName }}",
            o.PrimaryKey(),
            "{{= mm.DestinationEnumTable.QueryName }}",
            "{{= mm.AssnDestColumnName }}",
            o.{{= mm.VariableIdentifier() }})
    }

}}
