
{{g
//*** {{includeName}}
}}
{{
{{# Insert many-many references }}
    o.{{= mm.VariableIdentifier() }}.Clear()
    for _,obj := range o.{{= mm.VariableIdentifier() }}.All() {
        obj.Save(ctx)

    }

    // TODO: Fix associations
}}
