
{{g
//*** {{includeName}}
}}
{{
{{for _,mm := range table.ManyManyReferences}}
    if o.{{= mm.VariableIdentifier() }}.Len() > 0 {
        keys := o.{{= mm.VariableIdentifier() }}.Keys()
        for i, k := range keys {
            obj := o.{{= mm.VariableIdentifier() }}.Get(k)
            if err = obj.Save(ctx); err != nil {
                return err
            }
            if k != obj.PrimaryKey() {
                o.{{= mm.VariableIdentifier() }}.Delete(k)
                o.{{= mm.VariableIdentifier() }}.SetAt(i, obj.PrimaryKey(), obj)
            }
            db.Associate(ctx,
                d,
                "{{= mm.AssnTableName }}",
                "{{= mm.AssnSourceColumnName }}",
                o.id,
                "{{= mm.AssnDestColumnName }}",
                obj.PrimaryKey(),
            )
        }
    } else if len(o.{{= mm.VariableIdentifier() }}Pks) > 0 {
        for _,pk := range o.{{= mm.VariableIdentifier() }}Pks {
            obj := Load{{= mm.DestinationTable.Identifier }}(ctx, pk)
            if (obj != nil) {
                db.Associate(ctx,
                    d,
                    "{{= mm.AssnTableName }}",
                    "{{= mm.AssnSourceColumnName }}",
                    o.id,
                    "{{= mm.AssnDestColumnName }}",
                    pk,
                )
            }
        }
    }
{{for}}
}}