
{{g
//*** {{includeName}}
}}
{{
{{for _,mm := range table.ManyManyReferences}}
    if o.{{= mm.Field }}.Len() > 0 {
        keys := o.{{= mm.Field }}.Keys()
        for i, k := range keys {
            obj := o.{{= mm.Field }}.Get(k)
            if err = obj.Save(ctx); err != nil {
                return err
            }
            if k != obj.PrimaryKey() {
                o.{{= mm.Field }}.Delete(k)
                o.{{= mm.Field }}.SetAt(i, obj.PrimaryKey(), obj)
            }
            db.Associate(ctx,
                d,
                "{{= mm.TableQueryName }}",
                "{{= mm.SourceColumnName }}",
                newPK,
                "{{= mm.DestColumnName }}",
                obj.PrimaryKey(),
            )
        }
    } else if len(o.{{= mm.Field }}Pks) > 0 {
        for _,k := range o.{{= mm.Field }}Pks {
            obj, err2 := Load{{= mm.ReferencedTable.Identifier }}(ctx, k)
            if err2 != nil {
                return err2
            }
            if (obj != nil) {
                db.Associate(ctx,
                    d,
                    "{{= mm.TableQueryName }}",
                    "{{= mm.SourceColumnName }}",
                    newPK,
                    "{{= mm.DestColumnName }}",
                    k,
                )
            }
        }
    }
{{for}}
}}