
{{g
//*** {{includeName}}
}}
{{
{{for _,rev := range table.ReverseReferences }}
        if o.{{= rev.ReverseField }}IsDirty {
            // relation connection changed
    {{if rev.IsNullable }}
        {{if rev.IsUnique}}
            {{: "update_rev_null_unique.tmpl" }}
        {{else}}
            {{: "update_rev_null.tmpl" }}
        {{if}}
    {{else}} {{# not nullable}}
        {{if rev.IsUnique}}
            {{: "update_rev_not_null_unique.tmpl" }}
        {{else}}
            {{: "update_rev_not_null.tmpl" }}
        {{if}}
    {{if}}
        } else {
    {{: "update_rev_save.tmpl" }}
        }
{{for}}{{# Reverse References }}
}}
