
{{g
//*** {{includeName}}
}}
{{
{{# Update many-many references }}

        if o.{{= mm.VariableIdentifier() }}IsDirty {
            for obj := range o.{{= mm.VariableIdentifier() }}.ValuesIter() {
                obj.Save(ctx)
            }
            // TODO: fix associations
        }
}}
