
{{g
//*** {{includeName}}
}}
{{
{{# save reverse reference objects that are dirty, but relationship has not changed }}

{{if col.IsUnique }}
            // save related object
            if o.{{= col.ReverseVariableIdentifier() }} != nil {
                if err := o.{{= col.ReverseVariableIdentifier() }}.Save(ctx); err != nil {
                    return err
                }
            }
{{else}}
            // save related objects
            for obj := range o.{{= col.ReverseVariableIdentifier() }}.ValuesIter() {
                if err := obj.Save(ctx); err != nil {
                    return err
                }
            }
{{if}}
}}
