
{{g
//*** {{includeName}}
}}
{{
{{# Update many-many references }}

        if o.{{= mm.VariableIdentifier() }}IsDirty {
            for obj := range o.{{= mm.VariableIdentifier() }}.ValuesIter() {
                if err := obj.Save(ctx); err != nil {
                    return err
                }
            }
            // TODO: fix associations
        }
}}
