
{{g
//*** {{includeName}}
}}
{{
                currentObjs := Query{{= col.Table.IdentifierPlural }}(ctx).
                          Where(op.Equal(node.{{= col.Table.Identifier }}().{{= col.Identifier }}(), o.PrimaryKey())).
                          Select(node.{{= col.Table.Identifier }}().{{= col.Identifier }}()).
                          Load()

                for _,obj := range currentObjs {
                    if !o.{{= col.ReverseVariableIdentifier() }}.Has(obj.PrimaryKey()) {
                        // The old object is not in the group of new objects
                        obj.Set{{= col.Identifier }}ToNull()
                        if err := obj.Save(ctx); err != nil {
                            return err
                        }
                    }
                }
                for obj := range o.{{= col.ReverseVariableIdentifier() }}.ValuesIter() {
                    obj.{{= col.VariableIdentifier() }}IsDirty = true // force a change in case data is stale
                    obj.Set{{= col.Identifier }}(o.PrimaryKey())
                    if err := obj.Save(ctx); err != nil {
                        return err
                    }
                }
}}
