
{{g
//*** {{includeName}}
}}
{{
{{# save reverse reference objects that are dirty, but relationship has not changed }}
{{if col.IsUnique }}
            // save related object in case internal values changed
            if o.{{= col.ReverseField }} != nil {
                if err := o.{{= col.ReverseField }}.Save(ctx); err != nil {
                    return err
                }
            }
{{else}}
            // save related objects in case internal values changed
            for obj := range o.{{= col.ReverseField }}.ValuesIter() {
                if err := obj.Save(ctx); err != nil {
                    return err
                }
            }
{{if}}
}}
