
{{g
//*** {{includeName}}
}}
{{
                obj := Query{{= col.Table.IdentifierPlural }}(ctx).
                        Where(op.Equal(node.{{= col.Table.Identifier }}().{{= col.Identifier }}(), o.PrimaryKey())).
                        Get()
                if obj != nil  && obj.PrimaryKey() != o.{{= col.ReverseVariableIdentifier() }}.PrimaryKey() {
                    obj.Set{{= col.Identifier }}ToNull()
                    if err := obj.Save(ctx); err != nil {
                        return err
                    }
                }
                o.{{= col.ReverseVariableIdentifier() }}.{{= col.VariableIdentifier()}}IsDirty = true // force a change in case data is stale
                o.{{= col.ReverseVariableIdentifier() }}.Set{{= col.Identifier }}(o.PrimaryKey())
                if err := o.{{= col.ReverseVariableIdentifier() }}.Save(ctx); err != nil {
                    return err
                }

}}
