
{{g
//*** {{includeName}}
}}
{{
{{# Update many-many reference enums }}
        if o.{{= mm.VariableIdentifier() }}IsDirty {
            db.AssociateOnly(ctx,
                d,
                "{{= mm.AssnTableName }}",
                "{{= mm.AssnSourceColumnName }}",
                o.PrimaryKey(),
                "{{= mm.AssnDestColumnName }}",
                o.{{= mm.VariableIdentifier() }})
        }
}}
