
{{g
//*** {{includeName}}
}}
{{
                    // Since the other side of the relationship cannot be null, if there is an object already attached
                    // that is different than the one we are trying to attach, we will panic to warn the developer.
                    if oldObj, err := Query{{= rev.Table.IdentifierPlural }}(ctx).
                          Where(op.Equal(node.{{= rev.Table.Identifier}}().{{= rev.ForeignKey.Identifier }}(), o.{{= table.PrimaryKeyColumn().Identifier }}())).
                          Select(node.{{= rev.Table.Identifier }}().{{= rev.ForeignKey.Identifier }}()).
{{if rev.Table.LockColumn != nil }}
                          Select(node.{{= rev.Table.Identifier }}().{{= rev.Table.LockColumn.Identifier }}()).
{{if}}
                         Get(); err != nil {
                        return err
                    } else if oldObj != nil {
                        if o.{{= rev.ReverseField }} == nil || oldObj.PrimaryKey() != o.{{= rev.ReverseField }}.PrimaryKey() {
                            // Delete the old object
                            err = oldObj.Delete(ctx)
                            if err != nil {
                                return err
                            }
                        }
                    }
                    // we are moving the attachment from another object to our object, or attaching an object that is already attached.
                    if o.{{= rev.ReverseField }} != nil {
                        o.{{= rev.ReverseField }}.Set{{= rev.ForeignKey.Identifier }}(o.PrimaryKey())
                        if err := o.{{= rev.ReverseField }}.Save(ctx); err != nil {
                            return err
                        }
                    }
}}
