
{{g
//*** {{includeName}}
}}
{{
{{# Update many-many references }}
    {
        keys := o.{{= mm.Field }}.Keys() // Make a copy of the keys, since we will change the slicemap while iterating
        for i, k := range keys {
            obj := o.{{= mm.Field }}.Get(k)
            if err := obj.Save(ctx); err != nil {
                return err
            }
            if obj.PrimaryKey() != k {
                // update key in the slice map without changing the order
                o.{{= mm.Field }}.Delete(k)
                o.{{= mm.Field }}.SetAt(i, obj.PrimaryKey(), obj)
            }
        }
        if o.{{= mm.Field }}IsDirty {
            if (len(o.{{= mm.PkField() }}) != 0) {
                if err := db.AssociateOnly(ctx,
                        d,
                        "{{= mm.TableName }}",
                        "{{= mm.SourceColumnName }}",
                        o.PrimaryKey(),
                        "{{= mm.DestColumnName }}",
                        o.{{= mm.PkField() }}); err != nil {
                    return err
                }
            } else {
                if err := db.AssociateOnly(ctx,
                        d,
                        "{{= mm.TableName }}",
                        "{{= mm.SourceColumnName }}",
                        o.PrimaryKey(),
                        "{{= mm.DestColumnName }}",
                        o.{{= mm.Field }}.Keys()); err != nil {
                    return err
                }
            }
        }
    }
}}
