{{g
//*** {{includeName}}
}}
{{
{{for _,col := range table.Columns }}
    {{if col.IsReference() }}
        // Save loaded {{= col.ReferenceIdentifier() }} object to get its new pk and update it here.
        if o.{{= col.ReferenceVariableIdentifier() }} != nil {
            if err := o.{{= col.ReferenceVariableIdentifier() }}.Save(ctx); err != nil {
                return err
            }
            o.Set{{= col.Identifier }}(o.{{= col.ReferenceVariableIdentifier() }}.PrimaryKey())
        }
    {{if}}
{{for}}
}}
