//*** {{includeName}}

{{
func Test{{= table.Identifier }}_Count(t *testing.T) {
    ctx := context.Background()
    obj := createMaximalSample{{= table.Identifier }}(ctx)
    err := obj.Save(ctx)
	assert.NoError(t, err)
    defer deleteSample{{= table.Identifier }}(ctx, obj)
	assert.Positive(t, func() int { i,_ := Count{{= table.IdentifierPlural}}(ctx); return i }() )

{{if len(table.Indexes) > 0 }}
	// reread in case there are data limitations imposed by the database
	obj2, _ := Load{{= table.Identifier }}(ctx, obj.PrimaryKey())
{{for _,idx := range table.Indexes }}
	assert.Positive(t,
	    func() int { i,_ := Count{{= table.IdentifierPlural}}By{{= idx.Name() }}(ctx,
	        {{join idx.Columns, ",\n"}}obj2.{{= _j.Identifier }}(){{join}})
	        return i
	    }() )
{{for}}
{{if}}

}

}}