//*** {{includeName}}

{{
func Test{{= table.Identifier }}_QueryLoad(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()
    ctx := context.Background()
	assert.NoError(t, obj.Save(ctx))
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    objs, err := Query{{= table.IdentifierPlural }}(ctx).
{{for _,col := range table.PrimaryKeyColumns() }}
        Where(op.Equal(node.{{= table.Identifier }}().{{= col.Identifier }}(), obj.{{= col.Identifier }}())).
{{for}}
        OrderBy({{join table.PrimaryKeyColumns(), ", "}}node.{{= table.Identifier }}().{{= _j.Identifier }}(){{join}}). // exercise order by
        Limit(1,0). // exercise limit
        Calculation(node.{{= table.Identifier }}(), "IsTrue", op.Equal("A","A")).
        Load()
    assert.NoError(t, err)
    assert.Equal(t, obj.PrimaryKey(), objs[0].PrimaryKey())
	assert.True(t, objs[0].GetAlias("IsTrue").Bool())
}
}}

{{
func Test{{= table.Identifier }}_QueryLoadI(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()
    ctx := context.Background()
    err := obj.Save(ctx)
	assert.NoError(t, err)
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    objs, _ := Query{{= table.IdentifierPlural }}(ctx).
{{for _,col := range table.PrimaryKeyColumns() }}
        Where(op.Equal(node.{{= table.Identifier }}().{{= col.Identifier }}(), obj.{{= col.Identifier }}())).
{{for}}
        LoadI()

    assert.Equal(t, obj.PrimaryKey(), objs[0].Get("{{= table.PrimaryKeyColumn().Identifier }}"))
}
}}

{{
func Test{{= table.Identifier }}_QueryCursor(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()
    ctx := context.Background()
	assert.NoError(t, obj.Save(ctx))
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    cursor, err := Query{{= table.IdentifierPlural }}(ctx).
{{for _,col := range table.PrimaryKeyColumns() }}
        Where(op.Equal(node.{{= table.Identifier }}().{{= col.Identifier }}(), obj.{{= col.Identifier }}())).
{{for}}
        LoadCursor()
    require.NoError(t, err)
    obj2, err2 := cursor.Next()
    assert.Equal(t, obj.PrimaryKey(), obj2.PrimaryKey())
    require.NoError(t, err2)
    obj2, err2 = cursor.Next()
    assert.Nil(t, obj2)
    require.NoError(t, err2)
    assert.NoError(t, cursor.Close())

    // test empty cursor result
    cursor, err = Query{{= table.IdentifierPlural }}(ctx).
        Where(op.Equal("B", "A")).
        LoadCursor()
    require.NoError(t, err)

    obj2, err = cursor.Next()
    assert.Nil(t, obj2)
    require.NoError(t, err)
    assert.NoError(t, cursor.Close())
}
}}