//*** {{includeName}}

{{
func Test{{= table.Identifier }}_BasicInsert(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()
    ctx := db.NewContext(nil)
    err := obj.Save(ctx)
	assert.NoError(t, err)
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    // Test retrieval
    obj2 := Load{{= table.Identifier }}(ctx, obj.PrimaryKey())
    require.NotNil(t, obj2)

    assert.Equal(t, obj2.PrimaryKey(), obj2.OriginalPrimaryKey())

{{for _,col := range table.Columns}}
{{g
    if col.ReceiverType == query.ColTypeUnknown {continue} // cannot know what the set of valid input characters are.
    if col.IsReference() {continue} // forward references will be tested in the References test.
}}

    assert.True(t, obj2.{{= col.Identifier }}IsValid())
{{if col.IsNullable}}
    assert.False(t, obj2.{{= col.Identifier }}IsNull())
{{if}}
{{if col.HasSetter()}}
{{if col.IsEnumArray() }}
    assert.True(t, obj.{{= col.Identifier }}().Equal(obj2.{{= col.Identifier }}()))
{{else}}

{{if col.SchemaSubType != schema.ColSubTypeNumeric }}
    assert.EqualValues(t, obj.{{= col.Identifier }}(), obj2.{{= col.Identifier }}())
{{if}}

{{if}}
    // test that setting it to the same value will not change the dirty bit
    assert.False(t, obj2.{{= col.VariableIdentifier() }}IsDirty)
    obj2.Set{{= col.Identifier }}(obj2.{{= col.Identifier }}())
    assert.False(t, obj2.{{= col.VariableIdentifier() }}IsDirty)
{{if}}
{{for}}

}

func Test{{= table.Identifier }}_InsertPanics(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()
    ctx := db.NewContext(nil)

 {{for _, col := range table.Columns }}
 {{if !col.IsNullable && col.HasSetter() && col.DefaultValue == nil }}
    obj.{{= col.VariableIdentifier() }}IsValid = false
    assert.Panics(t, func() {obj.Save(ctx)})
    obj.{{= col.VariableIdentifier() }}IsValid = true

 {{if}}
 {{for}}
}

func Test{{= table.Identifier }}_BasicUpdate(t *testing.T) {
    obj := createMinimalSample{{= table.Identifier }}()
    ctx := db.NewContext(nil)
    assert.NoError(t, obj.Save(ctx))
    defer deleteSample{{= table.Identifier }}(ctx, obj)
    updateMinimalSample{{= table.Identifier }}(obj)
    assert.NoError(t, obj.Save(ctx))
    obj2 := Load{{= table.Identifier }}(ctx, obj.PrimaryKey())

{{for _,col := range table.Columns}}
{{if col.ReceiverType == query.ColTypeTime}} {{# In some situations, fractional times may be truncated by the database }}
    assert.WithinDuration(t, obj2.{{= col.Identifier }}(), obj.{{= col.Identifier }}(), time.Second, "{{= col.Identifier }} not within one second")
{{elseif col.SchemaSubType != schema.ColSubTypeNumeric}}
    assert.Equal(t, obj2.{{= col.Identifier }}(), obj.{{= col.Identifier }}(), "{{= col.Identifier }} did not update")
{{if}}
{{for}}
}



func Test{{= table.Identifier }}_References(t *testing.T) {
    obj := createMaximalSample{{= table.Identifier }}()
    ctx := db.NewContext(nil)
    obj.Save(ctx)
    defer deleteSample{{= table.Identifier }}(ctx, obj)

    // Test that referenced objects were saved and assigned ids
{{for _,col := range table.Columns }}
{{if col.IsReference() }}
    assert.NotNil(t, obj.{{= col.ReferenceIdentifier() }}())
{{if col.Reference.Table.PrimaryKeyColumn().IsAutoId }}
    assert.NotEqual(t, '-', obj.{{= col.ReferenceIdentifier() }}().PrimaryKey()[0])
{{if}}

{{if}}
{{for}}


}
}}
