{{g
//*** {{includeName}}
}}

{{

// ClearAll deletes all the data in the database, except for data in Enum tables.
func ClearAll(ctx context.Context) {
    d := Database()
	db.WithConstraintsOff(ctx, d, func(ctx context.Context) error {
{{for _,mm := range database.UniqueManyManyReferences() }}
        _ = d.DeleteWhere(ctx, {{L mm.TableQueryName }}, nil)
{{for}}

{{for _,table := range slices.Backward(database.MarshalOrder()) }}
        _ = d.DeleteWhere(ctx, {{L table.QueryName }}, nil)
{{for}}
        // Ignore errors, since one error generated might be that there is no data, which we don't care about.
        return nil
    })
}

}}
