
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= col.QueryKey() }}"]; ok && v != nil {
{{if col.IsEnum()}}
     	if i, ok2 := v.(int); ok2 {
           o.{{= col.Field }} = {{= col.Type }}(i)
{{else}}
    	if o.{{= col.Field }}, ok = v.({{= col.Type }}); ok {
{{if}}
			o.{{= col.Field }}IsLoaded = true
{{if col.HasSetter() }}
			o.{{= col.Field }}IsDirty = false
{{if}}
{{if col.IsAPrimaryKey() }}
{{if len(table.PrimaryKeyColumns()) == 1 }}
            o._originalPK = o.{{= col.Field }}
{{else}}
            o._originalPK.{{= col.Identifier }} = o.{{= col.Field }}
{{if}}
{{if}}{{# IsAPrimaryKey }}
		} else {
			panic("Wrong type found for {{= col.Field }}.")
		}
	} else {
		o.{{= col.Field }}IsLoaded = false
		o.{{= col.Field }} = {{= col.DefaultValueAsValue() }}
{{if col.HasSetter() }}
		o.{{= col.Field }}IsDirty = false
{{if}}
	}

}}
