
{{g
//*** {{includeName}}
}}
{{

	if v, ok := m["{{= rev.ReverseQueryKey() }}"]; ok {
		if v2, ok2 := v.(map[string]any); ok2 {
			o.{{= rev.ReverseField }} = new({{= rev.Table.Identifier }})
			o.{{= rev.ReverseField }}.unpack(v2, o.{{= rev.ReverseField }})
			o.{{= rev.ReverseField }}IsDirty = false
		} else {
			panic("Wrong type found for {{= rev.ReverseField }} object.")
		}
	} else {
		o.{{= rev.ReverseField }} = nil
		o.{{= rev.ReverseField }}IsDirty = false
	}

}}
