{{g
//*** {{includeName}}
}}
{{

    if o.{{= col.VariableIdentifier() }}IsLoaded {
{{if col.IsNullable}}
        if o.{{= col.VariableIdentifier() }}IsNull {
            v["{{= col.JsonKey() }}"] = nil
        } else {
            v["{{= col.JsonKey() }}"] = o.{{= col.VariableIdentifier() }}
        }
{{else}}
        v["{{= col.JsonKey() }}"] = o.{{= col.VariableIdentifier() }}
{{if}}
    }

{{if col.IsReference() }}
    if val := o.{{= col.ReferenceIdentifier() }}(); val != nil {
        v["{{= col.ReferenceJsonKey() }}"] = val.MarshalStringMap()
    }
{{if}}
}}
