
{{g
//*** {{includeName}}
}}
{{
    if o.{{= rev.ReverseVariableIdentifier() }} == nil {
        if err := encoder.Encode(false); err != nil {
            return err
        }
    } else {
        if err := encoder.Encode(true); err != nil {
            return err
        }
        if err := encoder.Encode(o.{{= rev.ReverseVariableIdentifier() }}); err != nil {
            return fmt.Errorf("error encoding {{= table.Identifier }}.{{= rev.ReverseVariableIdentifier() }}: %w", err)
        }
    }

    if err := encoder.Encode(o.{{= rev.ReverseVariableIdentifier() }}IsDirty); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= rev.ReverseVariableIdentifier() }}IsDirty: %w", err)
    }
}}
