
//*** {{includeName}}

{{
{{if mm.IsEnum() }}
    if val := o.{{= mm.VariableIdentifier() }}(); val != nil {
        var val2 []int
        for _,v2 := range val {
            val2 = append(val2, int(v2))
        }
        v["{{= mm.JsonKey() }}"] = val2
    }
{{else}}
    if val := o.{{= mm.VariableIdentifier() }}(); val != nil {
        var val2 []map[string]interface{}
        for _,v2 := range val {
            val2 = append(val2, v2.MarshalStringMap())
        }
        v["{{= mm.JsonKey() }}"] = val2
    }
{{if}}
}}
