
{{g
//*** {{includeName}}
}}
{{
    if err := enc.Encode(&o.{{= mm.Field }}); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= mm.Field }}: %w", err)
    }
    if err := enc.Encode(o.{{= mm.Field }}IsDirty); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= mm.Field }}IsDirty: %w", err)
    }
    if err := enc.Encode(o.{{= mm.PkField() }} != nil); err != nil {
        return err
    }
    if o.{{= mm.PkField() }} != nil {
        if err := enc.Encode(o.{{= mm.PkField() }}); err != nil {
            return fmt.Errorf("error encoding {{= table.Identifier }}.{{= mm.PkField() }}: %w", err)
        }
    }

{{# We will need to rebuild the map (when not a enum table association) based on the object decoded, since they are pointers to the same objects}}
}}
