
{{g
//*** {{includeName}}
}}
{{
    if err := encoder.Encode(o.{{= rev.ReverseVariableIdentifier() }} ); err != nil {
        return nil, err
    }
    if err := encoder.Encode(len(o.{{= rev.ReversePkIdentifier() }}) != 0); err != nil {
        return nil, err
    }
    if len(o.{{= rev.ReversePkIdentifier() }}) != 0 {
        if err := encoder.Encode(o.{{= rev.ReversePkIdentifier() }} ); err != nil {
            return nil, err
        }
    }

    if err := encoder.Encode(o.{{= rev.ReverseVariableIdentifier() }}IsDirty); err != nil {
        return nil, err
    }

    {{# We will need to rebuild the map based on the object decoded, since they are pointers to the same objects}}
}}
