
{{g
//*** {{includeName}}
}}
{{
    if err := enc.Encode(&o.{{= rev.ReverseVariableIdentifier() }} ); err != nil {
        return err
    }

    if err := enc.Encode(o.{{= rev.ReverseVariableIdentifier() }}IsDirty); err != nil {
        return err
    }

    {{# We will need to rebuild the map based on the object decoded, since they are pointers to the same objects}}
}}
