
{{g
//*** {{includeName}}
}}
{{

    if err := enc.Encode(o.{{= col.VariableIdentifier() }}); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= col.VariableIdentifier() }}: %w", err)
    }
{{if col.IsNullable}}
    if err := enc.Encode(o.{{= col.VariableIdentifier() }}IsNull); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= col.VariableIdentifier() }}IsNull: %w", err)
    }
{{if}}
    if err := enc.Encode(o.{{= col.VariableIdentifier() }}IsLoaded); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= col.VariableIdentifier() }}IsLoaded: %w", err)
    }
{{if col.HasSetter() }}
    if err := enc.Encode(o.{{= col.VariableIdentifier() }}IsDirty); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= col.VariableIdentifier() }}IsDirty: %w", err)
    }
{{if}}

{{if col.IsReference() }}
    if o.{{= col.ReferenceVariableIdentifier() }} == nil {
        if err := enc.Encode(false); err != nil {
            return err
        }
    } else {
        if err := enc.Encode(true); err != nil {
            return err
        }
        if err := enc.Encode(o.{{= col.ReferenceVariableIdentifier() }}); err != nil {
            return fmt.Errorf("error encoding {{= table.Identifier }}.{{= col.ReferenceVariableIdentifier() }}: %w", err)
        }
    }
{{if}}

}}
