
{{g
//*** {{includeName}}
}}
{{
    if o.{{= rev.ReverseField }} == nil {
        if err := enc.Encode(false); err != nil {
            return err
        }
    } else {
        if err := enc.Encode(true); err != nil {
            return err
        }
        if err := enc.Encode(o.{{= rev.ReverseField }}); err != nil {
            return fmt.Errorf("error encoding {{= table.Identifier }}.{{= rev.ReverseField }}: %w", err)
        }
    }

    if err := enc.Encode(o.{{= rev.ReverseField }}IsDirty); err != nil {
        return fmt.Errorf("error encoding {{= table.Identifier }}.{{= rev.ReverseField }}IsDirty: %w", err)
    }
}}
