
{{g
//*** {{includeName}}
}}
{{
    if o.{{= mm.Field }}.Len() != 0 {
        var vals []map[string]interface{}
        for obj := range o.{{= mm.Field }}.ValuesIter() {
            vals = append(vals, obj.MarshalStringMap())
        }
        v["{{= mm.JsonKey() }}"] = vals
    }
}}
