
{{g
//*** {{includeName}}
}}
{{
        case "{{= col.JsonKey()}}":
        {
{{if !col.IsNullable}}
            if v == nil {
                return fmt.Errorf("field %s cannot be null", k)
            }
{{else}}
            if v == nil {
                o.Set{{= col.Identifier }}ToNull()
                continue
            }
{{if}}

{{if col.IsReference() }}
            if _,ok := m["{{= col.Reference.JsonKey() }}"]; ok {
                continue // importing the foreign key will remove the object
            }
{{if}}

{{if col.IsEnum()}}
            v2, err := {{= col.Type }}FromInterface(v)
            if err != nil {return err}
            o.Set{{= col.Identifier }}(v2)
{{else}}
{{g
switch col.ReceiverType {

case query.ColTypeInteger:
{{
            switch n := v.(type) {
            case json.Number:
                n2,err := n.Int64()
                if err != nil {return err}
                o.Set{{= col.Identifier }}(int(n2))
            case int:
                o.Set{{= col.Identifier }}(n)
            case float64:
                o.Set{{= col.Identifier }}(int(n))
            default:
                return fmt.Errorf("field %s must be a number", k)
            }
}}
case query.ColTypeUnsigned:
{{
            switch n := v.(type) {
            case json.Number:
                n2,err := n.Int64()
                if err != nil {return err}
                o.Set{{= col.Identifier }}(uint(n2))
            case int:
                o.Set{{= col.Identifier }}(uint(n))
            case uint:
                o.Set{{= col.Identifier }}(n)
            case float64:
                o.Set{{= col.Identifier }}(uint(n))
            default:
                return fmt.Errorf("field %s must be a number", k)
            }
}}
case query.ColTypeInteger64:
{{
            switch n := v.(type) {
            case json.Number:
                n2,err := n.Int64()
                if err != nil {return err}
                o.Set{{= col.Identifier }}(n2)
            case int:
                o.Set{{= col.Identifier }}(int64(n))
            case float64:
                o.Set{{= col.Identifier }}(int64(n))
            default:
                return fmt.Errorf("field %s must be a number", k)
            }
}}
case query.ColTypeUnsigned64:
{{
            switch n := v.(type) {
            case json.Number:
                n2,err := n.Int64()
                if err != nil {return err}
                o.Set{{= col.Identifier }}(uint64(n2))
            case uint64:
                o.Set{{= col.Identifier }}(n)
            case int:
                o.Set{{= col.Identifier }}(uint64(n))
            case float64:
                o.Set{{= col.Identifier }}(uint64(n))
            default:
                return fmt.Errorf("field %s must be a number", k)
            }
}}
case query.ColTypeFloat32:
{{
            switch n := v.(type) {
            case json.Number:
                n2,err := n.Float64()
                if err != nil {return err}
                o.Set{{= col.Identifier }}(float32(n2))
            case float64:
                o.Set{{= col.Identifier }}(float32(n))
            case float32:
                o.Set{{= col.Identifier }}(n)
            default:
                return fmt.Errorf("field %s must be a number", k)
            }
}}
case query.ColTypeFloat64:
{{
            switch n := v.(type) {
            case json.Number:
                n2,err := n.Float64()
                if err != nil {return err}
                o.Set{{= col.Identifier }}(n2)
            case float64:
                o.Set{{= col.Identifier }}(n)
            default:
                return fmt.Errorf("field %s must be a number", k)
            }
}}
case query.ColTypeBytes:fallthrough
case query.ColTypeUnknown:
{{
            switch d := v.(type) {
            case string:
            {
                // A base 64 encoded string
                if b,err2 := base64.StdEncoding.DecodeString(d); err2 == nil {
                    o.Set{{= col.Identifier }}(b)
                } else {
                    return fmt.Errorf("json field %s must be either a Base64 encoded string or an array of byte values", k)
                }
            }
            case []interface{}:
            {
                // An array of byte values. Unfortunately, these come through as float64s, and so need to be converted
                b := make([]byte, len(d), len(d))
                for i,b1 := range d {
                    if f,ok := b1.(float64); !ok {
                        return fmt.Errorf("json field %s must be either a Base64 encoded string or an array of byte values", k)
                    } else {
                        b[i] = uint8(f)
                    }
                }
                o.Set{{= col.Identifier }}(b)
            }
            default:
                return fmt.Errorf("json field %s must be either a Base64 encoded string or an array of byte values", k)
            }

}}
case query.ColTypeString:
{{
            if s,ok := v.(string); !ok {
                return fmt.Errorf("json field %s must be a string", k)
            } else {
                o.Set{{= col.Identifier }}(s)
            }
}}
case query.ColTypeBool:
{{
            if b,ok := v.(bool); !ok {
                return fmt.Errorf("json field %s must be a boolean", k)
            } else {
                o.Set{{= col.Identifier }}(b)
            }
}}
case query.ColTypeTime:
{{
             switch d := v.(type) {
             case json.Number:
                // a numeric value, which for JSON, means milliseconds since epoc
                 n2,err := d.Int64()
                 if err != nil {return err}
                 o.Set{{= col.Identifier }}(time.UnixMilli(n2).UTC())
             case float64:
                 // a numeric value, which for JSON, means milliseconds since epoc
                 o.Set{{= col.Identifier }}(time.UnixMilli(int64(d)).UTC())
             case string:
                 // an ISO8601 string (hopefully)
                 var t time.Time
                 err = t.UnmarshalJSON([]byte(`"` + d + `"`))
                 if err != nil {
                     return fmt.Errorf("JSON format error for time field %s: %w", k, err)
                 }
                 t = t.UTC()
                 o.Set{{= col.Identifier }}(t)
             default:
                 return fmt.Errorf("json field %s must be a number or a string", k)
             }
}}

}
}}
{{if}}
            }
}}
