
{{g
//*** {{includeName}}
}}
{{
    if err = dec.Decode(&isPtr); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= rev.ReverseField }} isPtr: %w", err)
    }
    if isPtr {
        if err = dec.Decode(&o.{{= rev.ReverseField}}); err != nil {
            return fmt.Errorf("error decoding {{= table.Identifier }}.{{= rev.ReverseField }}: %w", err)
        }
    }

    if err = dec.Decode(&o.{{= rev.ReverseField}}IsDirty); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= rev.ReverseField }}IsDirty: %w", err)
    }
}}
