
{{g
//*** {{includeName}}
}}
{{
    if err = dec.Decode(&o.{{= col.Field }}); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= col.Field }}: %w", err)
    }
{{if col.IsNullable}}
    if err = dec.Decode(&o.{{= col.Field }}IsNull); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= col.Field }}IsNull: %w", err)
    }
{{if}}
    if err = dec.Decode(&o.{{= col.Field }}IsLoaded); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= col.Field }}IsLoaded: %w", err)
    }
{{if col.HasSetter() }}
    if err = dec.Decode(&o.{{= col.Field }}IsDirty); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= col.Field }}IsDirty: %w", err)
    }
{{if}}

{{if col.IsReference()}}
    if err = dec.Decode(&isPtr); err != nil {
        return fmt.Errorf("error decoding {{= table.Identifier }}.{{= col.ReferenceVariableIdentifier() }} isPtr: %w", err)
    }
    if isPtr {
        if err = dec.Decode(&o.{{= col.ReferenceVariableIdentifier() }}); err != nil {
            return fmt.Errorf("error decoding {{= table.Identifier }}.{{= col.ReferenceVariableIdentifier() }}: %w", err)
        }
    }
{{if}}
}}
