
//*** {{includeName}}

{{
    if err = dec.Decode(&isPtr); err != nil {
        return
    }
    if isPtr {
        if err = dec.Decode(&o.{{= mm.VariableIdentifier() }} ); err != nil {
            return
        }
    }
    if err = dec.Decode(&o.{{= mm.VariableIdentifier() }}IsDirty); err != nil {
        return
    }
{{if !mm.IsEnum()}}
    if err = dec.Decode(&isPtr); err != nil {
        return
    }
    if isPtr {
        if err = dec.Decode(&o.{{= mm.PkIdentifier() }}); err != nil {
            return
        }
    }
{{if}}
}}
