
{{g
//*** {{includeName}}
}}

{{

// Count{{= table.IdentifierPlural }} returns the total number of items in the {{= table.QueryName }} table.
func Count{{= table.IdentifierPlural }}(ctx context.Context) (int, error) {
	return Query{{= table.IdentifierPlural }}(ctx).Count()
}

{{for _,col := range table.Columns }}
{{g
    if col.IsEnumArray() {
        continue
    }
}}

// Count{{table.IdentifierPlural}}By{{col.Identifier}} queries the database and returns the number of {{table.Identifier}} objects that
// have {{= col.DecapIdentifier }}.
// doc: type={{table.Identifier}}
func Count{{table.IdentifierPlural}}By{{col.Identifier}}(ctx context.Context, {{= col.VariableIdentifier() }} {{= col.GoType()}}) (int, error) {
{{if col.IsReference() }}
    if {{= col.VariableIdentifier() }} == {{= col.DefaultValueAsValue() }} {
        return 0, nil
    }
{{if}}
{{if col.SchemaSubType == schema.ColSubTypeTimeOnly}}
{{# The Mysql driver cannot process time only time.Time values. This should work for other drivers too. }}
    t := {{= col.VariableIdentifier() }}.Format("15:04:05")
	return Query{{= table.IdentifierPlural }}(ctx).Where(op.Equal(node.{{= table.Identifier }}().{{= col.Identifier }}(), t)).Count()
{{else}}
	return Query{{= table.IdentifierPlural }}(ctx).Where(op.Equal(node.{{= table.Identifier }}().{{= col.Identifier }}(), {{= col.VariableIdentifier() }})).Count()
{{if}}
}

{{for}}

}}



