
{{g
//*** {{includeName}}
}}
{{
// Delete deletes the record from the database.
func (o *{{= table.DecapIdentifier}}Base) Delete(ctx context.Context) {
	if !o._restored {
		panic ("Cannot delete a record that has no primary key value.")
	}
	d := Database()
{{if len(table.ReverseReferences) == 0 && len(table.ManyManyReferences) == 0}}
	d.Delete(ctx, "{{table.QueryName}}", map[string]any{"{{= table.PrimaryKeyColumn().Identifier }}":o.{{= table.PrimaryKeyColumn().DecapIdentifier }} })
{{else}}
    db.ExecuteTransaction(ctx, d, func() {
	{{for _,rev := range table.ReverseReferences }}
        {{if rev.IsUnique }}
            {{if rev.IsNullable}}
            {
                // Set the related objects pointer to us to NULL in the database
                obj := Query{{= rev.Table.IdentifierPlural }}(ctx).
                          Where(op.Equal(node.{{= rev.Table.Identifier }}().{{= rev.Identifier }}(), o.{{= table.PrimaryKeyColumn().VariableIdentifier() }})).
                          Select(node.{{= rev.Table.Identifier}}().{{= rev.Identifier }}()).
                          Get()
                if obj != nil {
                   obj.Set{{= rev.Identifier }}(nil)
                   obj.Save(ctx)
                }
                // Set this object's pointer to the reverse object to nil to mark that we broke the link
                o.{{= rev.ReverseVariableIdentifier() }} = nil
            }
            {{else}}
            {
                 obj := Query{{= rev.Table.IdentifierPlural }}(ctx).
                           Where(op.Equal(node.{{= rev.Table.Identifier}}().{{= rev.Identifier }}(), o.{{= table.PrimaryKeyColumn().VariableIdentifier() }})).
                           Get()
                 if obj != nil {
                     obj.Delete(ctx)
                 }
                 // Set this object's pointer to the reverse object to nil to mark that we broke the link
                 o.{{= rev.ReverseVariableIdentifier() }} = nil
            }
            {{if}}
        {{else}} {{# one-to-many}}
            {{if rev.IsNullable}}
            {
                objs := Query{{= rev.Table.IdentifierPlural }}(ctx).
                          Where(op.Equal(node.{{= rev.Table.Identifier }}().{{= rev.Identifier }}(), o.{{= table.PrimaryKeyColumn().VariableIdentifier() }})).
                          Select(node.{{= rev.Table.Identifier }}().{{= rev.Identifier }}()).
                          Load()
                for _,obj := range objs {
                   obj.Set{{= rev.Identifier }}(nil)
                   obj.Save(ctx)
                }
                o.{{= rev.ReverseVariableIdentifier() }}.Clear()
            }
            {{else}}
            {
                objs := Query{{= rev.Table.IdentifierPlural }}(ctx).
                          Where(op.Equal(node.{{= rev.Table.Identifier}}().{{= rev.Identifier}}(), o.{{= table.PrimaryKeyColumn().VariableIdentifier() }})).
                          Load()
                for _,obj := range objs {
                    obj.Delete(ctx)
                }
                o.{{= rev.ReverseVariableIdentifier() }}.Clear()
            }
            {{if}}
        {{if}}
    {{for}}

    {{for _,mm := range table.ManyManyReferences}}
        d.Associate(ctx,
            "{{= mm.AssnTableName }}",
            "{{= mm.AssnSourceColumnName }}",
            o.PrimaryKey(),
            "{{= mm.QueryName() }}",
            "{{= mm.PrimaryKey() }}",
            nil)

    {{for}}

	d.Delete(ctx, "{{= table.QueryName }}", map[string]any{"{{= table.PrimaryKeyColumn().Identifier }}": o.{{= table.PrimaryKeyColumn().VariableIdentifier() }} })
	})
{{if}}
	broadcast.Delete(ctx, "{{= table.DbKey }}", "{{= table.QueryName }}", fmt.Sprint(o.{{= table.PrimaryKeyColumn().VariableIdentifier() }}))
}

// delete{{= table.Identifier }} deletes the associated record from the database.
func delete{{= table.Identifier }}(ctx context.Context, pk {{= table.PrimaryKeyGoType() }}) {
{{if len(table.ReverseReferences) == 0 && len(table.ManyManyReferences) == 0 }}
	d := db.GetDatabase("{{= table.DbKey }}")
	d.Delete(ctx, "{{= table.QueryName }}", map[string]any{"{{= table.PrimaryKeyColumn().Identifier }}": pk} )
	broadcast.Delete(ctx, "{{= table.DbKey }}", "{{= table.QueryName }}", fmt.Sprint(pk))
{{else}}
    if obj := Load{{= table.Identifier }}(ctx, pk, node.{{= table.Identifier}}().PrimaryKeyNode()); obj != nil {
        obj.Delete(ctx)
    }
{{if}}
}
}}