
{{g
//*** {{includeName}}
}}
{{
// Get returns the value of a field in the object based on the field's name.
// It will also get related objects if they are loaded.
// Invalid fields and objects are returned as nil.
// Get can be used to retrieve a value by using the Identifier of a node.
func (o *{{= table.DecapIdentifier}}Base) Get(key string) interface{} {

    switch key {

{{for _,col := range table.Columns }}
    case "{{= col.Identifier }}":
        if !o.{{= col.DecapIdentifier }}IsLoaded {
            return nil
        }
        return o.{{= col.DecapIdentifier }}
{{for}}

{{for _,ref := range table.References }}
    case "{{= ref.Identifier }}":
        return o.{{= ref.Identifier }}()
{{for}}

{{for _,ref := range table.ReverseReferences }}
    case "{{= ref.ReverseIdentifier }}":
{{if ref.IsUnique() }}
        return o.{{= ref.ReverseVariableIdentifier() }}
{{else}}
        return o.{{= ref.ReverseVariableIdentifier() }}.Values()
{{if}}
{{for}}

{{for _,mm := range table.ManyManyReferences}}
    case "{{= mm.IdentifierPlural }}":
        return o.{{= mm.VariableIdentifier() }}.Values()
{{for}}

    }
    return nil
}
}}
