
{{g
//*** {{includeName}}
}}
{{
// Get returns the value of a field in the object based on the field's name.
// It will also get related objects if they are loaded.
// Invalid fields and objects are returned as nil
func (o *{{= table.DecapIdentifier}}Base) Get(key string) interface{} {

    switch key {

{{for _,col := range table.Columns }}
    case "{{= col.Identifier }}":
        if !o.{{= col.DecapIdentifier }}IsValid {
            return nil
        }
        return o.{{= col.DecapIdentifier }}

	{{if col.IsReference()}}
    case "{{= col.ReferenceIdentifier() }}":
        return o.{{= col.ReferenceIdentifier() }}()
    {{if}}

{{for}}

{{for _,col := range table.ReverseReferences }}
    case "{{= col.ReverseIdentifier() }}":
{{if col.IsUnique}}
        return o.{{= col.ReverseVariableIdentifier() }}
{{else}}
        return o.{{= col.ReverseVariableIdentifier() }}.Values()
{{if}}
{{for}}

{{for _,mm := range table.ManyManyReferences}}
    case "{{= mm.IdentifierPlural }}":
        return o.{{= mm.VariableIdentifier() }}.Values()
{{for}}

    }
    return nil
}
}}
