
{{g
//*** {{includeName}}
}}
{{
// Initialize or re-initialize a {{= table.Identifier }} database object to default values.
{{if table.HasAutoPK() }}
// The primary key will get a temporary unique value which will be replaced when the object is saved.
{{if}}
func (o *{{= table.DecapIdentifier}}Base) Initialize() {
{{for _,col := range table.AllColumns() }}
	o.{{= col.Field }} = {{= col.DefaultValueAsValue() }}
{{if col.IsNullable }}
{{if col.HasDefaultValue() }}
	o.{{= col.Field }}IsNull = false
{{else}}
	o.{{= col.Field }}IsNull = true
{{if}}
{{if}}{{# IsNullable}}
	o.{{= col.Field }}IsLoaded = {{if col.HasDefaultValue()}}true{{else}}false{{if}}
{{if col.HasSetter() }}
	o.{{= col.Field }}IsDirty = false
{{if}}

{{for}}
{{if table.HasReverseReferences() }}

// Reverse reference objects.
{{for _,ref := range table.ReverseReferences}}
    {{if ref.IsUnique}}
        o.{{= ref.ReverseField }} = nil
        o.{{= ref.ReverseField }}IsDirty = false
    {{else}}
        o.{{= ref.ReverseField }}.Clear()
        o.{{= ref.ReverseField }}IsDirty = false
	{{if}}
{{for}}
{{if}}
{{if table.HasManyManyReferences() }}

// Many-Many reference objects.
{{for _,mm := range table.ManyManyReferences }}
    o.{{= mm.Field }}.Clear()
    o.{{= mm.PkField() }} = nil
    o.{{= mm.Field }}IsDirty = false
{{for}}
{{if}}

	o._aliases = nil
	o._restored = false
}

}}
