
{{g
//*** {{includeName}}
}}
{{

{{if len(table.PrimaryKeyColumns() ) > 1 }}
type {{= table.PrimaryKeyType() }} struct {
{{for _,col := range table.PrimaryKeyColumns() }}
    {{= col.Identifier }} {{= col.Type }}
{{for}}
}
{{if}}

// PrimaryKey returns the current value of the primary key.
func (o *{{= table.DecapIdentifier}}Base) PrimaryKey() {{= table.PrimaryKeyType() }} {
{{if len(table.PrimaryKeyColumns() ) > 1 }}
    return {{= table.PrimaryKeyType() }}{
{{for _,col := range table.PrimaryKeyColumns() }}
        {{= col.Identifier }}: o.{{= col.Field }},
{{for}}
    }
{{else}}
	return o.{{= table.PrimaryKeyColumn().Field }}
{{if}}
}

// OriginalPrimaryKey returns the value of the primary key that was originally loaded into the object when it was
// read from the database.
func (o *{{= table.DecapIdentifier}}Base) OriginalPrimaryKey() {{= table.PrimaryKeyType() }} {
	return o._originalPK
}

}}
