
{{g
//*** {{includeName}}
}}
{{

// UnmarshalBinary converts a structure that was created with MarshalBinary into a {{= table.Identifier }} object.
func (o *{{= table.DecapIdentifier}}Base) UnmarshalBinary(data []byte) (err error) {

	buf := bytes.NewBuffer(data)
	dec := gob.NewDecoder(buf)
	var isPtr bool

	_ = isPtr
}}

for _,col := range table.Columns {
    {{: "marshal/unmarshal_binary_col.tmpl" }}
}

for _,rev := range table.ReverseReferences {
    if rev.IsUnique {
        {{: "marshal/unmarshal_binary_rev_unique.tmpl" }}
    } else {
        {{: "marshal/unmarshal_binary_rev.tmpl" }}
    }
}

for _,mm := range table.ManyManyReferences {
    {{: "marshal/unmarshal_binary_mm.tmpl" }}
}

{{
	return
}
}}
